#set($title = "${request.user.getFullName()} requested your Gift!")
#parse("../header.html.vm")

<div id="mail-body" style="margin:15px;padding:20px;border-radius:4px;background-color:#fff;">
	<h1 style="font-size:130%;">Hi $!{ad.creator.userData.getFirstName()},</h1>
	<p>
	    ${request.user.getFullName()} requested your gift! See the message below:<br />
            "${text}"<br /><br />
	</p>
	<p>
	    <a href="${baseUrl}/#/profile/gifts/giving?req=${request.id}" style="background:#00bebe;color:#ffffff;padding:9px 12px 10px;font-size: 0.937em;text-decoration:none;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;border:none;">Click to respond</a><br /><br />
	</p>
	<p>
	    Not sure where to find something? Check out our super helpful <a href="http://gifteng.zendesk.com/home">FAQ</a> page.
	</p>
	<p>
    	Thank you for giving,<br />
        The Gifteng Team
	</p>
	<p style="color: #37495d;font-size:0.9em;">
		You can also copy and paste this link into your browser:
		${baseUrl}/#/profile/gifts/giving?req=${request.id}
	</p>
</div>

#parse("../footer.html.vm")
