<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="well">
		<h2>The More You Give, The More You Get. Promise! :)</h2>
		<form>
			<div class="form-group">
				<input type="text" ng-model="toPost.title" class="form-control input-lg" placeholder="Name your gift" />
			</div>
			<div class="form-group">
				<textarea ng-model="toPost.description" class="form-control" rows="4" placeholder="Describe it ..."></textarea>
			</div>
			<div class="form-group">
				<select ng-model="toPost.category" class="form-control">
					<option disabled>Select category</option>
					<option value="11">Accessories &amp; Bags</option>                   
					<option value="12">Art &amp; Photography</option>
					<option value="13">Books</option>
					<option value="10">Collectibles &amp; Craft</option>
					<option value="14">Electronics</option>
					<option value="15">Food &amp; Wine</option>
					<option value="20">Health &amp; Beauty</option>
					<option value="21">Home</option>
					<option value="9">Jewelry &amp; Watches</option>
					<option value="16">Kids</option>
					<option value="17">Men's Clothing</option>
					<option value="22">Movie, Music, Games</option>
					<option value="18">Pets</option>
					<option value="24">Tickets &amp; Gift Cards</option>
					<option value="19">Women's Clothing</option>
					<option value="8">Women's Shoes</option>
				</select>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input type="text" ng-model="toPost.price" class="form-control input-lg" placeholder="Current value" />
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<input type="text" ng-model="toPost.zip" class="form-control input-lg" placeholder="Your Zip code" />
					</div>
				</div>
			</div>
			<div class="form-inline">
				<div class="form-group">
      				<input type="checkbox" ng-model="toPost.pickUp"> Local Pick up
      				<input type="checkbox" ng-model="toPost.freeShipping"> Free Shipping
				</div>
			</div>
		</form>
		<div class="well-footer">
			<div class="row">
				<div class="col-xs-3">
					<a ng-click="step1()" class="btn btn-lg btn-block btn-default">
						<span class="glyphicon glyphicon-chevron-left"></span>
						BACK
					</a>
				</div>
				<div class="col-xs-9">
					<a ng-click="step3()" class="btn btn-lg btn-block btn-primary">
						NEXT
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>