<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="well">
		<div class="well-main">
		<h2>You're Awesome!</h2>
		<p>
			Give us few hours to review your gift. (But most likely it will be available for request tomorrow at 12:00 pm ET)
		</p>
		</div>
		<div class="well-footer">
			<div class="row">
				<div class="col-xs-12">
					<a ng-click="newPost()" class="btn btn-lg btn-block btn-default"> <span class="glyphicon glyphicon-chevron-left"></span> POST ANOTHER GIFT </a>
				</div>
			</div>
		</div>
	</div>
</div>