<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="well">
		<img ng-src="{{toPost.image}}" class="img-responsive" />
		<p>
			{{toPost.title}}
		</p>
		<ul>
			<li>
				<b>Description:</b> {{toPost.description}}
			</li>
			<li>
				<b>Category:</b> {{toPost.category}}
			</li>
			<li>
				<b>Current value:</b> {{toPost.price | currency:"$"}}
			</li>
		</ul>

		<div class="row">
			<div class="col-xs-6">
				<div class="checkbox">
					<label>
						<input type="checkbox">
						Pick Up </label>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="checkbox">
					<label>
						<input type="checkbox">
						Free shipping </label>
				</div>
			</div>
		</div>

		<div id="view_map" class="map"></div>

		<div class="well-footer">
			<div class="row">
				<div class="col-xs-3">
					<a ng-click="step3()" class="btn btn-lg btn-block btn-default"> <span class="glyphicon glyphicon-chevron-left"></span> BACK </a>
				</div>
				<div class="col-xs-9">
					<a href ng-click="log()" class="btn btn-lg btn-block btn-primary"> PUBLISH POST <span class="glyphicon glyphicon-chevron-right"></span> </a>
				</div>
			</div>
		</div>
	</div>
</div>