<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Change Password</h4>
	</div>
	<div class="modal-body">
		<div class="alert alert-danger" ng-bind="error" ng-show="error"></div>
		<form role="form" class="form" name="thisForm" novalidate>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<div class="input-group">
							<input id="password" name="password" type="password" ng-model="oldPassword"
							class="form-control" placeholder="Old password">
							<span class="input-group-btn">
								<button class="btn btn-ge-default" type="button" ng-click="forgotPassword()">Forgot?</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<input id="new_password_1" name="new_password_1" ng-model="new_password_1" type="password" class="form-control" placeholder="New password">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<input id="new_password_2"  name="new_password_2" type="password" ng-model="new_password_2" class="form-control" placeholder="Confirm new password">
					</div>
				</div>	
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-ge-default" data-dismiss="modal" ng-click="close()">Close</button>
		<button type="button" class="btn btn-ge-primary" ng-click="submit()">Change Password</button>
	</div>
</div>
