Dear Future Giftenger,

We launched Gifteng Beta in September 2013! Since then we've had the joy of watching our members already posting amazing items to give away.
If you are not familiar with Gifteng, we are an online community where you can receive gifts for free from friends and neighbors in your area.
Plus, you can use Gifteng to give away your unwanted items as gifts to the person who you select.

Please access ${baseUrl}/#/?verify - use invitation code: 0212

Give us your negative feedback and tell your friends about the positives. 

Happy giving & receiving,
The Gifteng Team
www.gifteng.com
