Dear Future Giftenger,

We launched Gifteng Beta in September 2013! Since then we've had the joy of watching our members already posting amazing items to give away.
If you are not familiar with Gifteng, we are an online community where you can receive gifts for free from friends and neighbors in your area.
Plus, you can use Gifteng to give away your unwanted items as gifts to the person who you select.

If you are curious about what others are giving away or if you have something to offer (like books, clothing, games),


Please access ${baseUrl}invitation/verify/ - use invitation code: 0212


and get a sneak-peek into Gifteng.

Like we said, we are still in preview testing period, so we're not quite at a "finished product" and we are open to your suggestions.

Give us your negative feedback and tell your friends about the positives. 

Looking forward to hear from you!

Warm regards,
The Gifteng Team
www.gifteng.com
