<div class="row">
	<div class="col-xs-12">
		<div class="well well-lg">
			<div class="well-header">
				<div class="row">
					<div class="col-md-1 col-sm-2 col-xs-4">
						<a href ng-click="changePhoto()"> <img ng-src="{{user.data.avatar_url}}" class="img-rounded img-responsive"> </a>
					</div>
					<div class="col-md-11 col-sm-10 col-xs-8">
						<div class="ge-detail">
							<div class="ge-name">
								<a href="">{{user.data.businessName}}</a>
								<a href="" ng-click="editProfile(user.data)"><i class="glyphicon-ge-pencil"></i></a>
							</div>
							<div class="ge-age">
								Giftenger since {{user.data.joinedAt | date:'MMMM yyyy'}}
							</div>
							<div class="ge-age">
								{{user.data.address.city}}, {{user.data.address.stateAbbreviation}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-8">
		<p>
			<a href ng-click="postGift()" class="btn btn-danger btn-lg">
				CREATE A NEW GIFT
			</a>
			<a href class="btn btn-ge-default btn-lg" ng-class="{'btn-ge-primary': current=='gifts'}" ng-click="current='gifts'">
				MANAGE GIFTS
			</a>
			<a href class="btn btn-ge-default btn-lg" ng-class="{'btn-ge-primary': current=='stores'}" ng-click="current='stores'">
				MANAGE STORES
			</a>
		</p>
	</div>
	<div class="col-xs-4">
		<p>
			<a href class="btn btn-danger pull-right">
				LEARN MORE
			</a>
		</p>
	</div>
</div>
<div class="well">
	<div class="well-body">
		<div class="row">
			<div class="col-xs-12">
				<div ng-include="'business/partials/'+current+'.html'"></div>
			</div>
		</div>
	</div>
</div>