<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    	<title>${title}</title>
    </head>
    <body style="background-color:#ece8e0;font-family:sans-serif;color:#222;">
        <div id="mail-heading" style="margin:15px 15px;padding:0;">
            <table border="0" width="100%">
                <tr>
                    <td><a href="http://gifteng.com" style="color:#00bebe;font-weight:bold;text-decoration:none;">Gifteng</a></td>
                    <td style="text-align:right;"><a href="http://gifteng.com" style="color:#999;text-decoration:none;">&nbsp;</a></td>
                </tr>
            </table>
        </div>
