Hi ${ad.creator.userData.getFirstName()},

Unfortunately your gift can’t be posted because:
${text}

Click <a href="${baseUrl}view/${ad.id}">here</a> to revise gift.

Thanks, 
The Gifteng Team

You can also copy and paste this link into your browser:
${baseUrl}view/${ad.id}
