Hi ${ad.creator.userData.getFirstName()},

Unfortunately your gift can’t be posted because:
${text}

Please access the foloowing address if you want to make changes:
${baseUrl}view/${ad.id}

Thanks, 
The Gifteng Team