<div class="modal-content">
	<div class="modal-body text-center">
		<div class="thankbox">
			<h3>Thanks so much for your feedback!</h3>
			<p>We will be in touch if we have more questions,<br>in the meantime you can check out our <a href="http://gifteng.zendesk.com/home/" target="_blank">FAQs</a>.</p>
			<div class="form-group">
				<a ng-click="close()" class="btn btn-large btn-ge-default"> Close </a> <a href="http://gifteng.zendesk.com/home/" ng-click="close()" target="_blank" class="btn btn-large btn-ge-primary"> FAQ </a>
			</div>
		</div>
	</div>
</div>