#set($title = "Thank you for signing up!")
#parse("../../header.html.vm")

<div id="mail-body" style="margin:15px;padding:20px;border-radius:4px;background-color:#fff;">
	<h1 style="font-size:130%;">Dear Future Giftenger,</h1>
	<p>
	    <a href="http://www.gifteng.com" style="color:#00bebe;text-decoration: none;">Gifteng</a><sup style="color:#00bebe;"> Beta</sup> is an online community where you can receive gifts for free from friends and neighbors in your area. Plus, you can use Gifteng to give away your unwanted items as gifts to the person who you select. 
	    At the moment, Gifteng is only available in United States, but we are planning to expand into others countries soon.
	</p>
	<p>
	    To help our growth <a href="http://www.facebook.com/gifteng" style="color:#37495d;text-decoration: none;">like us on Facebook</a>, <a href="http://www.twitter.com/gifteng" style="color:#37495d;text-decoration: none;">follow us on Twitter</a> and tell your friends about Gifteng. 
	    
	    When enough people from your city/town request an invitation, we will be happy to give you access to the site. 
	    
	    We appreciate your patience!
	</p>
	<p>
    	Warm regards,<br />
        The Gifteng Team
	</p>
</div>

#parse("../../footer.html.vm")
