Hi $!{ad.creator.userData.getFirstName()},

${request.user.getFullName()} is excited to have your Gift!

Click on the following link to view request:
${baseUrl}/#/profile/gifts/giving?req=${request.id}

Happy gifting!
The Gifteng Team

To change your general email notifications click here:
${baseUrl}/#/profile/account/notifications
