<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()">
			×
		</button>
		<div class="modal-header-content" ng-hide="accepted">
			<user-profile
			name="{{data.request.user.firstName}} {{data.request.user.lastName}}"
			location="{{data.request.user.address.city}}, {{data.request.user.address.stateAbbreviation}}"
			img="{{data.request.user.avatar.id}}"
			img-size="112"
			avatar="{{data.request.user.avatar.id}}"
			points="{{data.request.user.score | number:0}}/{{data.request.user.pendingScore | number:0}}"
			since="{{data.request.user.joinedAt | date:'MMMM yyyy'}}"
			following="data.request.user.inFollowings"
			id="{{data.request.user.id}}"
			self="data.request.user.self"
			nested="true"
			callback="close()"
			></user-profile>
		</div>
		<div class="modal-header-content" ng-show="accepted">
			<h3> Have you given away your gift? </h3>
		</div>
		<div class="modal-header-content" ng-hide="accepted">
			<h4 class="request-title">{{data.ads.title}}</h4>
		</div>
	</div>
	<div class="modal-body">
		<div class="row" ng-hide="accepted">
			<div class="col-xs-12">
				<span>{{data.messages[0].createdAt | date:'longDate'}}</span>
				<p>
					{{data.messages[0].text}}
				</p>
			</div>
		</div>
		<div class="row" ng-show="accepted">
			<div class="col-xs-12">
				Please confirm that you have shipped or handed over your gift.<br />
				<a href ng-click="reportAd()" class="ge-report"><i class="glyphicon glyphicon-ge-rescue"></i> Click here if something went wrong.</a>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row" ng-hide="accepted">
			<div class="col-xs-6">
				<div class="form-group">
					<button type="button" ng-click="decline()" class="btn btn-block btn-ge-default">
						Decline Request
					</button>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<button type="button" ng-click="accept()"  class="btn btn-block btn-ge-primary">
						Accept Request
					</button>
				</div>
			</div>
		</div>
		<div class="row" ng-show="accepted">
			<div class="col-xs-6">
				<div class="form-group">
					<button type="button" ng-click="close();" class="btn btn-block btn-ge-default">
						No
					</button>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<button type="button" ng-click="send();reviewConfirm();" class="btn btn-block btn-ge-primary">
						Yes
					</button>
				</div>
			</div>
		</div>
	</div>
</div>