<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="close()">
			×
		</button>
		<div class="modal-header-content">
			<h3>Would you like to say "Thank You"?</h3>
		</div>
	</div>
	<div class="modal-body">
		Your review helps in building a better community ...
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-xs-6"></div>
			<div class="col-xs-6">
				<a href ng-click="close()" class="btn btn-ge-default">
					NO
				</a>
				<a href ng-click="confirm()"  class="btn btn-ge-primary">
					YES
				</a>
			</div>
		</div><!--./submit-->
	</div>
</div>