<div class="row" ng-controller="NotificationsController">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="well ge-well ge-form">
        	<form ng-submit="submit()" id="notificationsForm">
	            <table class="table table-hover">
	                <thead>
	                    <tr>
	                        <th>Notify me when..</th>
	                        <th><label for="notification-table"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" id="notification-table" onchange="$('.notifiable').prop('checked', this.checked);" data-toggle="checkbox"></label></th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr ng-repeat="(key, value) in notifications">
	                        <td>{{value.text}}</td>
	                        <td><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" name="notifiableTypes[]" value="{{key}}" class="notifiable" checked="{{value.checked}}" data-toggle="checkbox"></td>
	                    </tr>
	                </tbody>
	            </table>
				<div class="text-right well-footer">
	            	<button type="submit" class="btn btn-lg btn-primary">SAVE</button>
	           	</div>
            </form>
        </div><!--./ge-well-->
    </div>
</div>