<div class="row" ng-controller="RequestedAdsController">
	<div ng-repeat="ad in ads">
		<div class="col-sm-3">
			<ad-item-box
				img="https://s3.amazonaws.com/ge-dev/ad/{{ad.image.id}}_320"
				id="{{ad.id}}"
				type="receiving"
				details="1"
				status="{{ad.status}}"
				creator-name="{{creators[ad.creator].firstName}} {{creators[ad.creator].lastName}}"
				creator-since="{{creators[ad.creator].joinedAt | date:'MMMM yyyy'}}"
				creator-following="creators[ad.creator].inFollowings"
				creator-city="{{creators[ad.creator].address.city}} {{creators[ad.creator].address.state}}"
				creator-avatar="{{creators[ad.creator].avatar.id}}"
				creator-points="{{creators[ad.creator].score | number:0}}/{{creators[ad.creator].pendingScore | number:0}}"
				creator-id="{{creators[ad.creator].id}}"
				ad="ad"
				callback="loadAds()"
				selfview="{{selfview}}"
			></ad-item-box>
		</div>
	</div>
</div>