<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<button type="button" class="close pull-right" ng-click="close()" ng-show="isModal">
			×
		</button>
	  	<h2>You're Awesome!</h2>
	  </div>
	  <div class="panel-body">
	    <p>Give us few hours to review your gift. It will most likely be available tomorrow at 12:00 pm EST.</p>
	    <p>Remember: your Generosity Score increases with every gift you give!</p>
	  </div>
	  <div class="panel-footer">
	  	<div class="row">
	  		<div class="col-xs-6">
	  			<a href="#/browse" class="btn btn-lg btn-block btn-primary hidden-xs"> Browse Gifts </a>
	  			<a href="#/browse" class="btn btn-block btn-primary visible-xs"> Browse Gifts </a>
	  		</div>
	  		<div class="col-xs-6">
	  			<a ng-click="doPost()" class="btn btn-lg btn-block btn-ge-primary hidden-xs"> Post a Gift </a>
	  			<a ng-click="doPost()" class="btn btn-block btn-ge-primary visible-xs"> Post a Gift </a>
	  		</div>
	  	</div>
	  </div>
	</div>
</div>