Hi $!{user.userData.getFirstName()},

Congratulations, you received a Gift!

Click on the following link to  finalize the transaction:
${baseUrl}/#/profile/gifts/giving?req=${request.id}

Happy receiving!
The Gifteng Team

To change your general email notifications click here:
${baseUrl}/#/profile/account/notifications
