Hi ${to.userData.getFirstName()},

You received a new message from ${from.getFullName()}.

To view message access the following address:
${baseUrl}request/${request.id}

Happy gifting!
The Gifteng Team

To change your general email notifications click here:
${baseUrl}profile?notification
