<div class="row" ng-controller="BookmarkedAdsController">
	<div ng-show="loaded" class="{{mygifts}}">
		<div ng-repeat="col in cols">
			<div class="{{colsClass}}">
				<div ng-repeat="ad in col">
					<ad-item-box
					img="{{ad.image.id}}"
					id="{{ad.id}}"
					type="favorites"
					details="1"
					status="{{ad.status}}"
					creator-firstname="{{creators[ad.creator].firstName}}"
					creator-lastname="{{creators[ad.creator].lastName}}"
					creator-since="{{creators[ad.creator].joinedAt | date:'MMMM yyyy'}}"
					creator-city="{{creators[ad.creator].address.city}}, {{creators[ad.creator].address.stateAbbreviation}}"
					creator-avatar="{{creators[ad.creator].avatar.id}}"
					creator-points="{{creators[ad.creator].score | number:0}}/{{creators[ad.creator].pendingScore | number:0}}"
					creator-id="{{creators[ad.creator].id}}"
					creator="creators[ad.creator]"
					ad="ad"
					callback="cqllbqck()"
					selfview="{{selfview}}"
					></ad-item-box>
				</div>
			</div>
		</div>
		<div ng-hide="hasAds || !selfview">
			<div class="col-xs-12">
				<div class="well">
					<div class="well-body">
						<img src="assets/images/ge-nothing_here_favorites.jpg" class="img-responsive" style="margin:0 auto" alt="Post your first gift" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>