#set($title = "Your Gift request was accepted!")
#parse("../../header.html.vm")

  	<div id="message-content" style="text-align:center;">
		<h1 style="font-size: 136%;">Hi $!{user.userData.getFirstName()},</h1>
		<p>
		Congratulations, your request was accepted!
		</p>
		<p>
			<br /><br /><a href="${baseUrl}/#/profile/gifts/giving?req=${request.id}" style="border: none;background: #00bebe;color: #ffffff;padding: 9px 12px 10px;line-height: 22px;font-size: 14.994px;font-weight: 500;text-decoration: none;text-shadow: none;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;-webkit-transition: 0.25s;-moz-transition: 0.25s;-o-transition: 0.25s;transition: 0.25s;-webkit-backface-visibility: hidden;">Click here to arrange an exchange.</a> <br /><br />
		</p>
		<p>
		Happy receiving!<br />
		The Gifteng Team
		</p>
	</div>
	<div style="padding:36px 0;text-align:center;">
		<p style="color: #333333;font-size: 11px;">
			You can also copy and paste this link into your browser:
			${baseUrl}/#/profile/gifts/giving?req=${request.id}
		</p>	
	</div>

#parse("../../footer.html.vm")
