Hi $!{ad.creator.userData.getFirstName()},

We just want to let you know that ${user.getFullName()} received your gift.

Happy giving!
The Gifteng Team

To change your general email notifications click here:
${baseUrl}/#/profile/account/notifications
