<div class="loader">
    <div class="loader-center">
    
        <div class="placescore">
            <div>
                <div class="placescore-dot placescore-dot-1">
                    <div></div> 
                </div>
                <div class="placescore-dot placescore-dot-2">
                    <div></div> 
                </div>
                <div class="placescore-dot placescore-dot-3">
                    <div></div> 
                </div>
                <div class="placescore-dot placescore-dot-4">
                    <div></div> 
                </div>
                <div class="placescore-dot placescore-dot-5">
                    <div></div> 
                </div>
            </div>
        </div>
    
    <div>
<div>