#set($title = "Congrats, your Gift request was accepted!")
#parse("../../header.html.vm")

<div id="mail-body" style="margin:15px;padding:20px;border-radius:4px;background-color:#fff;">
	<h1 style="font-size:130%;">Hi $!{user.userData.getFirstName()},</h1>
	<p>
	    Congrats! Your request was accepted for the <a href="${baseUrl}/#/view/gift/${ad.id}">${ad.adData.title}</a> on Gifteng.<br /><br />
	</p>
	<p>
	    If you would like your gift shipped to you, <a href="${shippingBox.paypalUrl}">click here to pay</a> so that we can send a label to $!{creator.userData.getFirstName()}. To arrange a pickup instead, simply use our private messaging tool.<br /><br />
	</p>
	<p>
	    Once you receive the gift, don't forget to confirm it under your Receiving menu on Gifteng!<br /><br />
	</p>
	<p>
    	Happy giving & receiving,<br />
        The Gifteng Team
	</p>
</div>

#parse("../../footer.html.vm")
