<div class="modal-content">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row hidden-xs">
				<div class="ge-logo text-center">
					<i class="glyphicon glyphicon-ge-gifteng glyphicon-ge-gifteng-large"></i>
				</div>
			</div><!--./logo-->
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<p class="text-center">
						A social community where you can give and receive thing you love for free.
					</p>
					<div class="alert alert-danger" ng-bind="error" ng-show="error"></div>
					<form role="form">
						<div class="form-group">
							<input type="email"id="email"  ng-model="email" class="form-control input-lg" placeholder="Email address">
						</div>
						<div class="form-group">
							<button type="submit" ng-click="step1()" class="btn btn-ge-primary btn-lg btn-block" >
								Request an invitation
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="panel-footer text-center">
			<div class="row">
				<div  class="col-xs-7 col-sm-6">
					<a href ng-click="oVerify()">I have an invitation</a>
				</div>
				<div  class="col-xs-5 col-sm-6">
					<a href ng-click="oLogin()">Sign In</a> 
				</div>
			</div>
		</div>
	</div>
</div>