#set($title = "Please confirm your email")
#parse("../header.html.vm")

<div id="mail-body" style="margin:15px;padding:20px;border-radius:4px;background-color:#fff;">
	<h1 style="font-size:130%;">Hi $!{user.userData.getFirstName()},</h1>
	<p>
	    Thank you for using Gifteng!<br /><br />
	</p>
	<p>
	    <a href="${baseUrl}/#/?verify=${code}" style="background:#00bebe;color:#ffffff;padding:9px 12px 10px;font-size: 0.937em;text-decoration:none;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;border:none;">Click here to confirm your email address</a><br /><br />
	</p>
	<p>
	    Not sure where to find something? Check out our super helpful <a href="http://gifteng.zendesk.com/home">FAQ</a> page.
	</p>
	<p>
    	Happy giving & receiving,<br />
        The Gifteng Team
	</p>
	<p style="color: #37495d;font-size:0.9em;">
		You can also copy and paste this link into your browser:
		${baseUrl}/#/?verify=${code}
	</p>
</div>

#parse("../footer.html.vm")
