
		<!-- bottom navigator -->
		<nav class="navbar navbar-default navbar-bottom  text-center" role="navigation">
			<div id="contact" class="vcard">
				<span class="vcard"> <!-- Brand -->
					<div class="brand">
						<span class="fn org"> <a class="navbar-brand" href="http://www.gifteng.com">&copy; 2014 Gifteng</a> </span>
					</div> <!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="http://help.gifteng.com" target="_blank">About</a>
							</li>
							<li>
								<a href="http://gifteng.com/terms" target="_blank">Terms</a>
							</li>
							<li>
								<a href="http://gifteng.com/privacy" target="_blank">Privacy</a>
							</li>
							<li>
								<a href="#/media" target="_blank">Media</a>
							</li>
							<li>
								<a href="http://gifteng.com/contact" target="_blank">Contact</a>
							</li>
							<li>
								<a rel="me nofollow" class="url glyphicon glyphicon-ge-pinterest" href="http://pinterest.com/gifteng" target="_blank" title="Gifteng on Pinterest"></a>
							</li>
							<li>
								<a rel="me nofollow" class="url glyphicon glyphicon-ge-facebook" href="http://facebook.com/gifteng" target="_blank" title="Gifteng on Facebook"></a>
							</li>
							<li>
								<a rel="me nofollow" class="url glyphicon glyphicon-ge-twitter" href="http://twitter.com/gifteng" target="_blank" title="Gifteng on Twitter"></a>
							</li>
							<li>
								<a rel="me nofollow publisher" class="url glyphicon glyphicon-ge-googleplus" href="http://google.com/+Gifteng" target="_blank" title="Gifteng on Google+"></a>
							</li>
						</ul>
						<span style="padding-right:20px;">&nbsp;</span>
					</div><!-- /.navbar-collapse --> </span>
			</div>
		</nav><!--/.bottom navigator -->