<div class="row">
	<div class="col-sm-6">
		<h2>Give &amp; Receive</h2>
		<ol>
			<li>Share your referral link</li>
			<li>Your friends sign up</li>
			<li>You each get a gift card after they join</li>
		</ol>
	</div>
	<div class="col-sm-6">
		<img src="assets/img/promo/giftcard/giftcard-proflowers15.jpg" alt="Gift Card" class="img img-responsive"/>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h4>Your referral link is: <a ng-href="http://gifteng.com/#/?ref={{user.data.id}}">http://gifteng.com/#/?ref={{user.data.id}}</a></h4>
		<hr />
	</div>
</div>