<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()">
				×
			</button>
			<div class="modal-header-content">
				<h2>Thank you for posting!</h2>
			</div>
		</div>
		<div class="modal-body">
			<h4>What's next?</h4>
 			<p>- We review the gift and only contact you if something needs to be changed otherwise your gift will be live on the Start Date. </p>
 			<p>- You can download our Redemption Guide (also sent as an email) and educate your employees about your special offers on Gifteng.</p>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-3">
					<a ng-click="close()" class="btn btn-lg btn-block btn-ge-default"> CLOSE </a>
				</div>
				<div class="col-xs-9">
					<a href class="btn btn-lg btn-block btn-ge-primary"> DOWNLOAD <span class="glyphicon glyphicon-chevron-right"></span> </a>
				</div>
			</div>
		</div>
	</div>
</div>