
        <div id="mail-footer" style="margin:0 20px;">
            <div id="social">
                <a title="Gifteng on Facebook" href="http://facebook.com/gifteng" style="color:#00bebe;text-decoration:none;">Facebook</a> &nbsp;&middot;&nbsp;
                <a title="Follow us on Twitter" href="http://twitter.com/gifteng" style="color:#00bebe;text-decoration:none;">Twitter</a> &nbsp;&middot;&nbsp;
                <a title="Find us on Pinterest" href="http://pinterest.com/gifteng" style="color:#00bebe;text-decoration:none;">Pinterest</a>
            </div>
            <div id="copyright">
                <p style="color:#999;font-size:70%;">
                    &copy; 2014 Gifteng | All Rights Reserved
                </p>
            </div>
        </div>
    </body>
</html>
