#set($title = "Welcome to Gifteng")
#parse("../header.html.vm")

<div id="mail-body" style="margin:15px;padding:20px;border-radius:4px;background-color:#fff;">
	<h1 style="font-size:130%;">Hi $!{user.userData.getFirstName()},</h1>
	<p>
	    Thank you for joining Gifteng, a fun and friendly place to declutter your home and request things you need for FREE. We endorse swapping instead of shopping.<br /><br />
	</p>
	<p>
	    <a href="${baseUrl}/#/?verify=${code}" style="background:#00bebe;color:#ffffff;padding:9px 12px 10px;font-size: 0.937em;text-decoration:none;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;border:none;">Click here to confirm your email address</a><br /><br />
	</p>
	<p>
	    Not sure where to find something? Check out our super helpful <a href="http://gifteng.zendesk.com/home">FAQ</a> page.
	</p>
	<p>
    	Happy giving & receiving,<br />
        The Gifteng Team
	</p>
</div>

#parse("../footer.html.vm")
