<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gifteng Password Changed</title>
  </head>
  
  <body style="font-family:sans-serif;text-align:center;text-shadow: 0 1px 0 #fff;background:url('http://gifteng.com/assets/4/temp-sample/ge-background.png') #eeedea;">
  	<div style="padding-top:36px;width: 160px;margin: auto;">
  		<img src="http://gifteng.com/images/mail/gifteng.png">
  	</div>
  	<hr style="border: 0;height: 1px;margin:36px 0;background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));" />
  	<!-- message-content -->
  	<div id="message-content" style="text-align:center;">
		<h1 style="font-size: 136%;">Hi ${user.userData.getFirstName()},</h1>
		<p>
		Your Gifteng password has been successfully changed. If you did not request this, please contact us at <a href="help@gifteng.com">help@gifteng.com</a>.
		</p>
		<p>
		Warm regards,<br />
		The Gifteng Team
		</p>
	</div>
	<!-- message-note -->
	<div style="padding:36px 0;text-align:center;">
		<p style="color: #333333;font-size: 11px;">
			To change your general email notifications click here:
			${baseUrl}profile?notification
		</p>	
	</div>
	<!-- ./message-note -->
	<!-- ./message-content -->	
	<div style="padding:36px 0;text-align:center;">
		<p style="color: #aaaaaa;font-size: 136%;">
			Give. Receive. Inspire.
		</p>
		<hr style="border: 0;height: 1px;margin-top:6px;background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));" />
		<p style="color: #aaaaaa;font-size: 11px;">
			&copy;2013 Gifteng | All Rights Reserved
		</p>
		<p>
			<div style="width: 120px;margin: auto;">
				<a title="Gifteng on Facebook" href="http://facebook.com/gifteng"><div style="display: inline-block;margin: 3px;width: 24px;height: 24px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; background: url('http://gifteng.com/images/mail/ge-facebook2.png') no-repeat center center; background-size:24px 24px;"></div></a>
				<a title="Follow us on Twitter" href="http://twitter.com/gifteng"><div style="display: inline-block;margin: 3px;width: 24px;height: 24px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; background: url('http://gifteng.com/images/mail/ge-twitter2.png') no-repeat center center; background-size:24px 24px;"></div></a>
				<a title="Find us on Pinterest" href="http://pinterest.com/gifteng"><div style="display: inline-block;margin: 3px;width: 24px;height: 24px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; background: url('http://gifteng.com/images/mail/ge-pinterest2.png') no-repeat center center; background-size:24px 24px;"></div></a>
			</div>
		</p>
	</div>
  </body>
</html>