Hi ${user.userData.getFirstName()},

Your Gifteng password has been successfully changed. If you did not request this, please contact us at help@gifteng.com.

Warm regards, 
The Gifteng Team    
www.gifteng.com
