Dear Future Giftenger,

We launched Gifteng Beta in September 2013! Since then we've had the joy of watching our members already posting amazing items to give away.
If you are not familiar with Gifteng, we are an online community where you can receive gifts for free from friends and neighbors in your area.
Plus, you can use Gifteng to give away your unwanted items as gifts to the person who you select.

At the moment, Gifteng is only available in New York, but we are planning to expand into others cities soon. 

To help our growth
like us on Facebook http://www.facebook.com/gifteng
follow us on Twitter http://www.twitter.com/gifteng
- and tell your friends about Gifteng. 

When enough people from your city/town request an invitation, we will be happy to give you access to the site. (We don’t want to turn you away, we just want to make sure there will be gifts waiting for you when you log in.) We appreciate your patience!

Warm regards,
The Gifteng Team
www.gifteng.com