Hi ${ad.creator.userData.getFirstName()},

${comment.publisher.getFullName()} commented your Gift!

To view comment access the following address:
${baseUrl}view/${ad.id}

Happy gifting!
The Gifteng Team

To change your general email notifications click here:
${baseUrl}profile?notification
