/* CSS Document */

/* TEMP */
.temp_newpage {width: 100%; height: 100px;background-color: #34495e;color: #ffffff;}
.temp_newpage:after {clear: both;}

/* welcome */
[id^="welcome_"] .ge-well {padding:0px;box-shadow:0px 2px 3px #cbc8c3;}
[id^="welcome_"] .ge-text p.ge-title {padding:16px 0 0 0;font-size:160%;}
[id^="welcome_"] .ge-text p {padding:9px;text-align: center;font-size:100%;line-height: 130%;}
[id^="welcome_"] .ge-well .ge-item-image img {border-top-left-radius:4px;border-top-right-radius:4px;}
[id^="welcome_"] .ge-well .ge-item-image {border-top-left-radius:4px;border-top-right-radius:4px;background-color:#f7f3f3;height:300px;min-height:300px;max-height: 300px;}
#welcome_0.ge-stage {margin-top:36px;}
#welcome_0.ge-stage .ge-headline p {padding:60px 0 16px 0;font-size: 100%;font-weight:300 !important;line-height:130%;color: #6f6f6f;}
#welcome_0 .ge-well {min-height: 472px !important;}
#login_ {margin:87px 0 0 0;}
.ge-ribbon2 {background-image: url("temp-sample/ge-ribbon2.png");background-repeat: no-repeat;background-position: 28px 0;background-size:35px 50px;}
#login_ a {color: #d26058 !important;font-weight: 600;}
#login_ a:hover {color: #00bebe !important;/* #00cece */}
#welcome_4.ge-stage {margin-bottom: 30px;}
#welcome_4 {font-size: 120%;line-height:130%;}
#welcome_4 p {font-size: 200%;font-weight:800 !important;margin-bottom:0px;}
#welcome_4 .btn-ge {margin-top:50px;}
.ge-welcome .ge-headline {text-align:center;}
.ge-welcome	p.lead {font-size: 110%;}
.ge-welcome #welcome_3 .ge-well {background:transparent;box-shadow:none;}
.ge-welcome #welcome_3 .ge-item-image {text-align: center;background:transparent;margin-bottom:20px;}
.ge-welcome #welcome_3 img.img-rounded {border-radius: 180px;width:210px;height:210px;background-size:210px 210px;}
#welcome_3.ge-stage .ge-headline {margin-bottom:36px;}
#welcome_3 .ge-headline a {color: #00bebe !important;}
#welcome_3 .ge-headline a:hover {color: #00cece !important;}
#welcome_3 .ge-headline a:active {color: #00a5a5 !important;}

/* invitation */
#invitation_2.ge-form {margin-top:120px;}
#invitation_2 .ge-well #invitation_usertype {margin-top:12px;}
#invitation_2.ge-form .ge-well .ge-submit {margin-top: 12px;}

/* login */
[id^="login_"] .ge-well {padding: 9px 0 0 0;}
[id^="login_"] .ge-text {min-height:410px;}
[id^="login_"] .ge-well .ge-logo {margin-bottom: 24px;}
[id^="login_"] .ge-well .ge-topspace {padding-top:26px !important;}
[id^="login_"] .ge-well .ge-bottomspace {padding-bottom:16px !important;}
[id^="login_"].ge-form .ge-submit {margin-top: 0px;}
[id^="login_"] .ge-well p {color: #aaaaaa;font-size: 100%;text-align:center;padding-bottom:12px;}
[id^="login_"] .ge-well .ge-footline {margin-top: 12px;padding: 9px 19px 0 19px;background-color:#e4e4e4;-webkit-border-bottom-left-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomleft:4px;-moz-border-radius-bottomright:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
[id^="login_"] .ge-well .ge-footline a {color: #fff;text-shadow: none;}
[id^="login_"] .ge-well .ge-footline p {padding-bottom: 0px;}
[id^="login_"] .ge-well .ge-footline {min-height:46px;}
#login_5.ge-form .ge-submit {margin-top: 16px !important;}
[id^="login_"] .ge-well i.lead {color:#00bebe;padding: 9px;}

/* browse */
.ge-tile-view .ge-item-image.ended {opacity: 0.2;}
.ge-tile-view  .ge-item-image .span12 {padding: 6px;}
.ge-tile-view .ge-item-image .btn-ge {background-color: transparent;}
.ge-browse .ge-item-image {background-image: url("temp-sample/ge-item.jpg");background-position: center center;background-repeat: no-repeat;width:220px;height:220px;background-size:220px 220px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;border-top-left-radius:4px;border-top-right-radius:4px;}

.ge-browse .ge-item-image .span12 {padding: 6px;}
.ge-browse .ge-item-image .btn-ge {
/* Fallback for web browsers that don't support RGBa */
background-color: rgb(0, 0, 0);
/* RGBa with 0.6 opacity */
background-color: rgba(0, 0, 0, 0.1);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";}


/* user-giving */
.user-giving .user-giving_tabs {margin-bottom: 19px;}
.user-giving .user-giving_items .ge-item-image {background-image: url("temp-sample/ge-item.jpg");background-position: center center;background-repeat: no-repeat;width:220px;height:220px;background-size:220px 220px;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;border-top-left-radius:4px;border-top-right-radius:4px;}

.user-giving .user-giving_items .ge-item-image .span12 {padding: 6px;}
.user-giving .user-giving_items .ge-item-image .btn-ge {
/* Fallback for web browsers that don't support RGBa */
background-color: rgb(0, 0, 0);
/* RGBa with 0.6 opacity */
background-color: rgba(0, 0, 0, 0.1);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";}
.user-giving .user-giving_items .ge-text p {padding:6px 6px 0 6px;text-align:center;margin: 0px;font-size: 100%;}
.user-giving .user-giving_items .ge-user-image .span12 {padding: 6px;}
.user-giving .user-giving_items .ge-user-image img {width:66px;height:66px;background-size:66px 66px;}
.user-giving .user-giving_items .ge-user-image img.inactive {opacity:0.2;filter:alpha(opacity=20); /* For IE8 and earlier */}
/* user-giving recipient */
.user-giving_recipient .ge-well {padding: 0 0 9px 0;}
.user-giving_recipient .ge-well .ge-user {padding: 9px;}
.user-giving_recipient .ge-user .ge-user-image img {width:66px;height:66px;background-size:66px 66px;}
.user-giving_recipient .ge-user .ge-points a {font-size: 70%;vertical-align: super;color: #aaaaaa;}
.user-giving_recipient .user-giving_recipient_action {padding: 9px;background-color:#fafafa;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.user-giving_recipient .ge-messages {background-color:#fafafa;margin-top:9px;border-top: 1px solid #e4e4e4;}
.user-giving_recipient .ge-messages .ge-input .ge-user-image img {width:32px;height:32px;background-size:32px 32px;}
.user-giving_recipient .ge-action {padding: 0 9px;}
.user-giving_items .ge-share {padding: 9px 9px 0 9px;}

/* user-receiving */
.user-receiving .user-receiving_tabs {margin-bottom: 19px;}
.user-receiving .user-receiving_items .ge-item-image {background-image: url("temp-sample/ge-item.jpg");background-position: center center;background-repeat: no-repeat;width:220px;height:220px;background-size:220px 220px;}
.user-receiving .user-receiving_items .ge-item-image .span12 {padding: 6px;}
.user-receiving .user-receiving_items .ge-item-image .btn-ge {
/* Fallback for web browsers that don't support RGBa */
background-color: rgb(0, 0, 0);
/* RGBa with 0.6 opacity */
background-color: rgba(0, 0, 0, 0.1);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";}
.user-receiving .user-receiving_items .ge-text {padding:9px 6px 0 6px;text-align:center;margin: 0px;font-size: 100%;}
/* user-receiving giver */
.user-receiving_giver .ge-well {padding: 0 0 9px 0;}
.user-receiving_giver .ge-well .ge-user {padding: 9px;}
.user-receiving_giver .ge-user .ge-user-image img {width:66px;height:66px;background-size:66px 66px;}
.user-receiving_giver .ge-user .ge-points a {font-size: 70%;vertical-align: super;color: #aaaaaa;}
.user-receiving_giver .user-receiving_giver_action {padding: 9px;background-color:#fafafa;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.user-receiving_giver .ge-messages {background-color:#fafafa;margin-top:9px;border-top: 1px solid #e4e4e4;}
.user-receiving_giver .ge-messages .ge-input .ge-user-image img {width:32px;height:32px;background-size:32px 32px;}
.user-receiving_giver .ge-action {padding: 0 9px;}
.user-receiving_items .ge-share {padding: 9px 9px 0 9px;}

/* notice */
.ge-window {margin-top: 90px;}
.ge-window .ge-well blockquote p {text-align: left;}
.ge-window .ge-well p {text-align: center;line-height: 120%;padding: 6px;}
.ge-window .ge-well p.small {font-size: 100%;}
.ge-window .ge-well p.small a {color: #00bebe;}

.edit-profile .edit-profile_facebook .controls label {color: #aaaaaa;}

/* item-favorite */
.item-favorite .item-favorite_tabs {margin-bottom: 19px;}
.item-favorite .item-favorite_items .ge-item-image {background-image: url("temp-sample/ge-item.jpg");background-position: center center;background-repeat: no-repeat;width:220px;height:220px;background-size:220px 220px;}

.item-favorite .item-favorite_items .ge-item-image .span12 {padding: 6px;}
.item-favorite .item-favorite_items .ge-item-image .btn-ge {
/* Fallback for web browsers that don't support RGBa */
background-color: rgb(0, 0, 0);
/* RGBa with 0.6 opacity */
background-color: rgba(0, 0, 0, 0.1);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";}
.item-favorite .item-favorite_items .ge-text p {padding:6px 6px 0 6px;text-align:center;margin: 0px;font-size: 100%;}
.item-favorite .item-favorite_items .ge-user-image .span12 {padding: 6px;}
.item-favorite .item-favorite_items .ge-user-image img {width:66px;height:66px;background-size:66px 66px;}
.item-favorite .item-favorite_items .ge-user-image img.inactive {opacity:0.2;filter:alpha(opacity=20); /* For IE8 and earlier */}
.item-favorite .item-favorite_items .ge-action {padding: 9px 9px 0 9px;}

/* user-follow */
.user-follow .user-follow_tabs {margin-bottom: 19px;}


