<div class="container ge-container">
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<h2>GIFTENG FOR YOUR BUSINESSS</h2>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h3 class="ge-color-1">Beautifully simple way to reach your customer’s heart</h3>
				</div>
			</div>
			<div class="row top-buffer-3">
				<div class="col-md-offset-1 col-md-6">
					<div class="row top-buffer-3">
						<div class="col-sm-3">
							<img src="http://veneficalabs.com/gifteng/assets/4/temp-sample/ge-img_1business.jpg" class="img img-responsive img-circle">
						</div>
						<div class="col-sm-8">
							<p class="lead top-buffer-1">
								The quickest and easiest way to attain loyal customers is by having them fall in love with your product or service.
							</p>
						</div>
					</div>
					<div class="row top-buffer-3">
						<div class="col-sm-3">
							<img src="http://veneficalabs.com/gifteng/assets/4/temp-sample/ge-img_2business.jpg" class="img img-responsive img-circle">
						</div>
						<div class="col-sm-8">
							<p class="lead top-buffer-1">
								No need to waste any more money on deal sites; we have found you a simple method for engagement.
							</p>
						</div>
					</div>
					<div class="row top-buffer-3">
						<div class="col-sm-3">
							<img src="http://veneficalabs.com/gifteng/assets/4/temp-sample/ge-img_3business.jpg" class="img img-responsive img-circle">
						</div>
						<div class="col-sm-8">
							<p class="lead top-buffer-1">
								All you have to do is set up your account on Gifteng.com by following two easy steps.
							</p>
						</div>
					</div>
					<div class="row top-buffer-3">
						<div class="col-sm-3">
							<img src="http://veneficalabs.com/gifteng/assets/4/temp-sample/ge-img_4business.jpg" class="img img-responsive img-circle">
						</div>
						<div class="col-sm-8">
							<p class="lead top-buffer-1">
								Your business will be seen by thousands of users who love to support local businesses.
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-5">

					<blockquote>
						<p>
							Create your FREE account now and discover how Gifteng can help your business grow:
						</p>
						<div class="alert alert-danger" ng-bind="error" ng-show="error">

						</div>
						<div class="form-group">
							<input name="businessName" value="" type="text" ng-model="userData.businessName" placeholder="Business name" class="input-lg form-control" required="">
						</div>

						<div class="form-group">
							<input name="contactName" value="" type="text" ng-model="userData.contactName" placeholder="Contact name" class="input-lg form-control" required="">
						</div>

						<div class="form-group">
							<input name="phoneNumber" value="" type="text" ng-model="userData.phoneNumber" placeholder="Phone number" class="input-lg form-control" required="">
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<input name="email" value="" type="text" ng-model="userData.email" placeholder="Email address" class="input-lg form-control" required="">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input name="email2" value="" type="text" ng-model="userData.email2" placeholder="Confirm Email" class="input-lg form-control" required="">
								</div>
							</div>
						</div>

						<div class="form-group">
							<input name="website" value="" type="text" ng-model="userData.website" placeholder="Website" class="input-lg form-control" required="">
						</div>

						<div class="from-group">
							<button ng-click="register()" class="btn btn-lg btn-ge-primary btn-block">
								REGISTER
							</button>
						</div>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			Give. Receive. Inspire.
		</div>
	</div>
</div>
<div ng-include="'business/partials/footer.html'"></div>