<div class="modal-content">
	<div class="modal-body">
		<h4>Sorry. We need to check your gift again before it goes back to the site. Are you sure you need to edit it?</h4>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-xs-6">
				<button type="button" ng-click="edit()" class="btn btn-block btn-ge-primary">
					Edit
				</button>
			</div>
			<div class="col-xs-6">
				<button type="button" ng-click = "close()" class="btn btn-block btn-ge-default">
					Don't Edit
				</button>
			</div>
		</div><!--./submit-->
	</div>
</div>