Hi $!{user.userData.getFirstName()},
 
Congrats! Your request was accepted for the '${ad.adData.title}' on Gifteng. 
 
If you would like your gift shipped to you, use the "Payment link" below to pay so that we can send a label to $!{creator.userData.getFirstName()}. To arrange a pickup instead, simply use our private messaging tool.
 
Happy receiving!
The Gifteng Team
 
p.s. Once you receive the gift, don’t forget to confirm it under your Receiving menu on Gifteng!


Gift link: ${baseUrl}/#/view/gift/${ad.id}
Payment link: ${shippingBox.paypalUrl}
