RewriteEngine on

# Redirect to under maintenance page
#RewriteCond %{REQUEST_URI} !^.*/under-construction\.html$
#RewriteCond %{REQUEST_URI} !^.*\.(jpg|gif|png|ico)$
#RewriteRule ^(.*)$ /venefica-site/under-construction.html [R=307,L]

## Add www
#RewriteBase /
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteCond %{HTTP_HOST} ^([^.]+\.[a-z]{2,6})$ [NC]
#RewriteRule ^(.*)$ http://www.%1/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|assets|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [PT,L]
