Hi ${ad.creator.userData.getFirstName()},

${comment.publisher.getFullName()} commented your Gift!

Click on the following link to view the comment:
${baseUrl}view/${ad.id}

Happy gifting!
The Gifteng Team

To change your general email notifications click here:
${baseUrl}profile?notification
