Hi ${ad.creator.getFullName()},

Congratulations, your gift was approved. Daily at 12:00 all the apprved gifts will be made online,
so see you soon on gifteng.

Click <a href="${baseUrl}view/${ad.id}">here</a> to view the gift!

Happy gifting!
