#set($title = "Your invite is here!")
#parse("../../header.html.vm")

  	<div id="message-content" style="text-align:center;">
		<h1 style="font-size: 136%;">Hi $!{user.userData.getFirstName()},</h1>
		<p>
		We're excited to have you onboard! Use invitation code 
		 <h1>${invitationCode}</h1>
		to get a sneak peek to the beta version where you can already give and request “gifts” for free. Here’s a bit of information to get you started:
		<ol>
		<li> Go to www.gifteng.com and use your invitation code</li>
		<li> Request your first gift to see how easy it is</li>
		<li> Post a Gift, something that you don’t need anymore</li>
		<li> Share this invitation code with your friends so they can discover your gifts and other free things around them (only in New York)</li>
		</ol>
		Email us if you have any thoughts or suggestions: <a href="teamp@gifteng.com">team@gifteng.com</a>.
		</p>
		<p>
		Happy giving & receiving,<br />
		The Gifteng Team
		</p>
	</div>
	<div style="padding:36px 0;text-align:center;">
		<p style="color: #333333;font-size: 11px;">
			To change your general email notifications click here:
			${baseUrl}/#/profile/account/notifications
		</p>	
	</div>

#parse("../../footer.html.vm")
