<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-hidden="true">
			&times;
		</button>
		<h4 class="modal-title">Sharing is caring... Select your favorite social network!</h4>
	</div>

	<div class="modal-body">
		<div class="row">
			<div class="col-xs-4">
				<button class="btn btn-mini btn-block btn-social-facebook glyphicon glyphicon-ge-facebook" ng-click="share_on_facebook_modal();"></button>
			</div>
			<div class="col-xs-4">
				<button class="btn btn-mini btn-block btn-social-twitter glyphicon glyphicon-ge-twitter" ng-click="share_on_twitter_modal();"></button>
			</div>
			<div class="col-xs-4">
				<button class="btn btn-mini btn-block btn-social-pinterest glyphicon glyphicon-ge-pinterest" ng-click="share_on_pinterest_modal();"></button>
			</div>
		</div>
	</div>
</div>