<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${ad.creator.getFullName()} posted a new gift!</title>
  </head>
  
  <body style="font-family:sans-serif;text-align:center;text-shadow: 0 1px 0 #fff;background:url('http://gifteng.com/assets/4/temp-sample/ge-background.png') #eeedea;">
  	<div style="padding-top:36px;width: 160px;margin: auto;">
  		<img src="http://gifteng.com/images/mail/gifteng.png">
  	</div>
  	<hr style="border: 0;height: 1px;margin:36px 0;background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));" />
  	<!-- message-content -->
  	<div id="message-content" style="text-align:center;">
		<h1 style="font-size: 136%;">Hi ${follower.userData.getFirstName()},</h1>
		<p>
		${ad.creator.getFullName()} posted a new Gift!
		</p>
		<p>
			<br /><br /><a href="${baseUrl}view/${ad.id}" style="border: none;background: #00bebe;color: #ffffff;padding: 9px 12px 10px;line-height: 22px;font-size: 14.994px;font-weight: 500;text-decoration: none;text-shadow: none;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;-webkit-transition: 0.25s;-moz-transition: 0.25s;-o-transition: 0.25s;transition: 0.25s;-webkit-backface-visibility: hidden;"> Click here to view the gift!</a><br /><br /> 
		</p>
		<p>
		Happy gifting!<br />
		The Gifteng Team
		</p>
	</div>
	<!-- message-note -->
	<div style="padding:36px 0;text-align:center;">
		<p style="color: #333333;font-size: 11px;">
			You can also copy and paste this link into your browser:
			${baseUrl}view/${ad.id}
		</p>	
	</div>
	<!-- ./message-note -->
	<!-- ./message-content -->	
	<div style="padding:36px 0;text-align:center;">
		<p style="color: #aaaaaa;font-size: 136%;">
			Give. Receive. Inspire.
		</p>
		<hr style="border: 0;height: 1px;margin-top:6px;background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0));" />
		<p style="color: #aaaaaa;font-size: 11px;">
			&copy;2013 Gifteng | All Rights Reserved
		</p>
		<p>
			<div style="width: 120px;margin: auto;">
				<a title="Gifteng on Facebook" href="http://facebook.com/gifteng"><div style="display: inline-block;margin: 3px;width: 24px;height: 24px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; background: url('http://gifteng.com/images/mail/ge-facebook2.png') no-repeat center center; background-size:24px 24px;"></div></a>
				<a title="Follow us on Twitter" href="http://twitter.com/gifteng"><div style="display: inline-block;margin: 3px;width: 24px;height: 24px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; background: url('http://gifteng.com/images/mail/ge-twitter2.png') no-repeat center center; background-size:24px 24px;"></div></a>
				<a title="Find us on Pinterest" href="http://pinterest.com/gifteng"><div style="display: inline-block;margin: 3px;width: 24px;height: 24px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; background: url('http://gifteng.com/images/mail/ge-pinterest2.png') no-repeat center center; background-size:24px 24px;"></div></a>
			</div>
		</p>
	</div>
  </body>
</html>