Hi ${follower.userData.getFirstName()},

${ad.creator.getFullName()} posted a new Gift!

To view gift access the following address:
${baseUrl}view/${ad.id}

Happy gifting!
The Gifteng Team

To change your general email notifications click here:
${baseUrl}profile?notification
