Hi $!{follower.userData.getFirstName()},

${creator.getFullName()} posted a new Gift!

Click on the following link to view the gift:
${baseUrl}/#/view/gift/${ad.id}

Happy gifting!
The Gifteng Team

To change your general email notifications click here:
${baseUrl}/#/profile/account/notifications
