<a href back-button class="btn btn-back btn-default btn-lg">BACK</a>
<div class="row">
	<div class="col-xs-6">
		<ad
		img="https://s3.amazonaws.com/ge-dev/ad/{{ad.image.id}}_640"
		id="{{ad.id}}"
		num-shares="{{ad.statistics.numShares}}"
		num-comments="{{ad.statistics.numComments}}"
		num-bookmarks="{{ad.statistics.numBookmarks}}"
		comments="{{ad.comments}}"
		title="{{ad.title}}"
		creator-name="{{ad.creator.firstName}} {{ad.creator.lastName}}"
		creator-since="{{ad.creator.joinedAt | date:'MMMM yyyy'}}"
		creator-following="ad.creator.inFollowings"
		creator-city="{{ad.creator.address.city}}, {{ad.creator.address.state}}"
		creator-avatar="{{ad.creator.avatar.id}}"
		creator-points="{{ad.creator.score | number:0}}/{{ad.creator.pendingScore | number:0}}"
		creator-id="{{ad.creator.id}}"
		status="{{ad.status}}"
		can-request="{{ad.canRequest}}"
		in-bookmarks="{{ad.inBookmarks}}"
		callback="loadAds()"
		self="ad.self"
		></ad>
	</div>
	<div class="col-xs-6">
		<div class="well">
			<div class="well-main">
				<div ng-switch="ad.owner">
					<div ng-switch-when="true">
						<div class="row">
							<div class="col-xs-6">
								<button class="btn btn-lg btn-block btn-primary" ng-click="editGift(ad.id)" ng-show="ad.canEdit && !ad.canRelist">
									EDIT GIFT
								</button>
								<button class="btn btn-lg btn-block btn-primary" ng-click="relistGift(ad.id)" ng-show="ad.canRelist">
									RELIST
								</button>
								<button class="btn btn-lg btn-block btn-primary btn-disabled" disabled ng-show="!ad.canEdit && !ad.canRelist">
									EDIT GIFT
								</button>
							</div>
							<div class="col-xs-6">
								<button class="btn btn-lg btn-block btn-danger" ng-click="deleteGift(ad.id)" ng-show="ad.canDelete">
									DELETE GIFT
								</button>
								<button class="btn btn-lg btn-block btn-danger btn-disabled" disabled ng-show="!ad.canDelete">
									DELETE GIFT
								</button>
							</div>
						</div>
					</div>
					<div ng-switch-default>
						<div ng-switch="ad.user_requested">
							<div ng-switch-when="true">
								<div ng-switch="ad.status">
									<div ng-switch-when="DECLINED">
										<button class="btn btn-lg btn-block btn-default btn-disabled" disabled>
											REQUEST DECLINED
										</button>
									</div>
									<div ng-switch-when="UNACCEPTED">
										<button class="btn btn-lg btn-block btn-default btn-disabled" disabled>
											REQUEST DECLINED
										</button>
									</div>
									<div ng-switch-when="CANCELED">
										<button class="btn btn-lg btn-block btn-default btn-disabled" disabled>
											REQUEST CANCELED
										</button>
									</div>
									<div ng-switch-when="RECEIVED">
										<button class="btn btn-lg btn-block btn-default btn-disabled" disabled>
											GIFT RECEIVED
										</button>
									</div>
									<div ng-switch-default>
										<button class="btn btn-lg btn-block btn-default btn-disabled" disabled>
											REQUEST SENT
										</button>
									</div>
								</div>

							</div>
							<div ng-switch-default>
								<button class="btn btn-lg btn-block btn-primary btn-disabled" disabled ng-show="ad.sold" ng-hide="ad.canRequest || ad.statistics.numRequests >= 3">
									GIFTED
								</button>
								<button class="btn btn-lg btn-block btn-primary" ng-show="ad.canRequest" ng-hide="ad.sold || ad.statistics.numRequests >= 3" ng-click="requestGift(ad.id)">
									REQUEST GIFT
								</button>
								<button class="btn btn-lg btn-block btn-primary btn-disabled" disabled ng-show="ad.statistics.numRequests >= 3 || (!ad.sold && !ad.canRequest)">
									REQUESTS PENDING
								</button>
							</div>
						</div>
					</div>
				</div>
				<p>
					{{ad.title}}
				</p>
				<ul>
					<li>
						<b>Description:</b> {{ad.description}}
					</li>
					<li>
						<b>Category:</b> {{ad.category}}
					</li>
					<li>
						<b>Current value:</b> {{ad.price | currency:"$"}}
					</li>
				</ul>
				<div class="row">
					<div class="col-xs-6">
						<div class="checkbox">
							<label>
								<input type="checkbox" disabled ng-checked="ad.pickUp">
								Pick Up </label>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="checkbox">
							<label>
								<input type="checkbox" disabled ng-checked="ad.freeShipping">
								Free shipping </label>
						</div>
					</div>
				</div>

			</div>
			<div id="view_map" class="map"></div>
			<div class="well-footer">
				<div class="comments">
					<div class="row" ng-repeat="comment in comments">
						<div class="col-xs-3">
							<img ng-src="https://s3.amazonaws.com/ge-dev/user/{{comment.publisherAvatarUrl | replace:{'/images/img':''} }}_42" class="img-responsive" />
						</div>
						<div class="col-xs-9">
							<a href="#/view/profile/{{comment.publisherId}}">{{comment.publisherFullName}}</a><span>{{1378383886000 | date:mediumDate}}</span>
							<p>
								{{comment.text}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
