Hi ${ad.creator.getFullName()},

Sorry, but we are unable to accept your gift at this moment. Please review and give it another try.

The reason behind refuse is:
${text}

To edit your gift access the following address:
${baseUrl}view/${ad.id}

Happy gifting!
