<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    	<title>${title}</title>
    </head>
    <body style="background-color:#ece8e0;font-family:sans-serif;color:#222;">
        <div id="mail-heading" style="margin:15px 15px;padding:0;">
            <a href="http://gifteng.com" style="float:right;text-align:right;padding:10px 0;color:#999;font-size:110%;text-decoration:none;">
                Give. Receive. Inspire.
            </a>
            <div style="width:120px;padding:0;">
                <a href="http://gifteng.com" style="text-decoration:none;color:#00bebe;"><img alt="" src="http://gifteng.com/images/mail/gifteng-mail-logo.png" style="max-width: 80px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;line-height: 100%;outline: none;text-decoration: none;height: auto !important;" class="mcnImage" align="middle" width="80"></a>
            </div>
        </div>
