<div class="ge-ad-item-box">
	<div class="well">
		<div class="ge-item-image">
			<a href="#/view/gift/{{id}}"> <img ng-src="{{img}}" class="img-responsive"> </a>
			<div class="ge-icon-ribbon"></div>
		</div><!--./ge-item-image-->
		<div class="action">
			<div ng-switch="type">

				<!-- Giving -->
				<div ng-switch-when="giving">

					<div ng-switch="status">

						<!-- APPROVED -->
						<div ng-switch-when="APPROVED">
							<div class="row">
								<div class="col-xs-12">
									<p class="text-center">
										<span class="fui-arrow-right"></span>
										Approved
										<span class="fui-arrow-left"></span>
									</p>
								</div>
							</div>
						</div>
						<!-- /APPROVED -->

						<!-- PENDING -->
						<div ng-switch-when="PENDING">
							<div class="row">
								<div class="col-xs-12">
									<p class="text-center">
										<span class="fui-arrow-right"></span>
										Approval Pending
										<span class="fui-arrow-left"></span>
									</p>
								</div>
							</div>
						</div>
						<!-- /PENDING -->

						<!-- DECLINED -->
						<div ng-switch-when="DECLINED">
							<div class="row">
								<div class="col-xs-12">
									<p class="text-center">
										<span class="fui-arrow-right"></span>
										Gift declined
										<span class="fui-arrow-left"></span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<button ng-click="viewReason(ad.id)" class="btn btn-default btn-block">
										View Reason
									</button>
								</div>
							</div>
						</div>
						<!-- /DECLINED -->

						<!-- SOLD -->
						<div ng-switch-when="SOLD">
							<div class="row">
								<div class="col-xs-12">
									<p class="text-center">
										<span class="fui-arrow-right"></span>
										Gifted
										<span class="fui-arrow-left"></span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4">
									<img ng-src="https://s3.amazonaws.com/ge-dev/user/{{ad.requestor}}_60" ng-show="ad.requestor" class="img-rounded img-responsive" />
									<img src="http://veneficalabs.com/gifteng/assets/4/temp-sample/ge-no-profile-picture.png" ng-hide="ad.requestor" class="img-rounded img-responsive" />
								</div>
							</div>
						</div>
						<!-- /SOLD -->

						<!-- EXPIRED -->
						<div ng-switch-when="EXPIRED">
							<div class="row">
								<div class="col-xs-12">
									<p class="text-center">
										<span class="fui-arrow-right"></span>
										Expired
										<span class="fui-arrow-left"></span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<button ng-click="relistGift(id)" class="btn btn-primary btn-block" ng-show="ad.canRelist">
										RELIST
									</button>
								</div>
								<div class="col-xs-6">
									<button ng-click="deleteGift(id)" class="btn btn-default btn-block" >
										DELETE
									</button>
								</div>
							</div>
						</div>
						<!-- /EXPIRED -->

						<!-- NO_REQUESTS -->
						<div ng-switch-when="NO_REQUESTS">
							<div class="row">
								<div class="col-xs-12">
									<p class="text-center">
										<span class="fui-arrow-right"></span>
										Share to receive requests
										<span class="fui-arrow-left"></span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4">
									<button class="btn btn-block btn-default"></button>
								</div>
								<div class="col-xs-4">
									<button class="btn btn-block btn-default"></button>
								</div>
								<div class="col-xs-4">
									<button class="btn btn-block btn-default"></button>
								</div>
							</div>
						</div>
						<!-- /NO_REQUESTS -->

						<!-- SENT -->
						<div ng-switch-when="SENT">
							<div class="row">
								<div class="col-xs-12">
									<p class="text-center">
										<span class="fui-arrow-right"></span>
										Gifted
										<span class="fui-arrow-left"></span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4">
									<img ng-src="https://s3.amazonaws.com/ge-dev/user/{{ad.requestor}}_60" ng-show="ad.requestor" class="img-rounded img-responsive" />
									<img src="http://veneficalabs.com/gifteng/assets/4/temp-sample/ge-no-profile-picture.png" ng-hide="ad.requestor" class="img-rounded img-responsive" />
								</div>
							</div>
						</div>
						<!-- /SENT -->

						<!-- SELECTED -->
						<div ng-switch-when="SELECTED">
							<div class="row">
								<div class="col-xs-12">
									<p class="text-center">
										<span class="fui-arrow-right"></span>
										Recipient selected
										<span class="fui-arrow-left"></span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4">
									<img ng-src="https://s3.amazonaws.com/ge-dev/user/{{ad.requestor}}_60" ng-show="ad.requestor" class="img-rounded img-responsive" />
									<img src="http://veneficalabs.com/gifteng/assets/4/temp-sample/ge-no-profile-picture.png" ng-hide="ad.requestor" class="img-rounded img-responsive" />
								</div>
							</div>
						</div>
						<!-- /SELECTED -->

						<!-- ACTIVE -->
						<div ng-switch-when="ACTIVE">
							<div class="row">
								<div class="col-xs-12">
									<p class="text-center">
										<span class="fui-arrow-right"></span>
										Select recipient
										<span class="fui-arrow-left"></span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4" ng-repeat="request in ad.requests.item">
									<a href ng-click="requestSelect(request.id)">
										<img ng-show="request.user.avatar" ng-src="https://s3.amazonaws.com/ge-dev/user/{{request.user.avatar.id}}_60" class="img-rounded img-responsive" />
										<img ng-hide="request.user.avatar" src="http://veneficalabs.com/gifteng/assets/4/temp-sample/ge-no-profile-picture.png" class="img-rounded img-responsive" />
									</a>
								</div>
							</div>
						</div>
						<!-- /ACTIVE -->

					</div>
				</div>
				<!-- /Giving -->

				<!-- Receiving -->
				<div ng-switch-when="receiving">

					<div ng-switch="ad.reqStat">

						<!-- Expired -->
						<div ng-switch-when="EXPIRED">
							<div class="row">
								<div class="col-xs-12">
									<p class="text-center">
										<span class="fui-arrow-right"></span>
										Gift expired
										<span class="fui-arrow-left"></span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<button ng-click="requestHide(ad.request.id)" class="btn btn-default btn-block">
										Delete Gift
									</button>
								</div>
							</div>
						</div>
						<!-- /Expired -->

						<!-- Canceled -->
						<div ng-switch-when="CANCELED">
							<div class="row">
								<div class="col-xs-12">
									<p class="text-center">
										<span class="fui-arrow-right"></span>
										Request canceled
										<span class="fui-arrow-left"></span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<button ng-click="requestHide(ad.request.id)" class="btn btn-default btn-block">
										Delete Gift
									</button>
								</div>
							</div>
						</div>
						<!-- /Canceled -->

						<!-- Declined -->
						<div ng-switch-when="DECLINED">
							<div class="row">
								<div class="col-xs-12">
									<p class="text-center">
										<span class="fui-arrow-right"></span>
										Request declined
										<span class="fui-arrow-left"></span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<button ng-click="requestHide(ad.request.id)" class="btn btn-default btn-block">
										Delete Gift
									</button>
								</div>
							</div>
						</div>
						<!-- /Declined -->

						<!-- Pending -->
						<div ng-switch-when="PENDING">
							<div class="row">
								<div class="col-xs-12">
									<p class="text-center">
										<span class="fui-arrow-right"></span>
										Request pending
										<span class="fui-arrow-left"></span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<button ng-click="requestCancel(ad.request.id)" class="btn btn-default btn-block">
										Cancel Request
									</button>
								</div>
							</div>
						</div>
						<!-- /Pending -->

						<!-- Accepted -->
						<div ng-switch-when="ACCEPTED">
							<div class="row">
								<div class="col-xs-12">
									<p class="text-center">
										<span class="fui-arrow-right"></span>
										Request accepted
										<span class="fui-arrow-left"></span>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-4">
									<button class="btn btn-default btn-block">
										MSG
									</button>
								</div>
								<div class="col-xs-8">
									<button ng-click="requestReceived(ad.request.id)" class="btn btn-default btn-block">
										Gift Received
									</button>
								</div>
							</div>
						</div>
						<!-- /Accepted -->

						<!-- Received -->
						<div ng-switch-when="RECEIVED">
							<div class="row">
								<div class="col-xs-12">
									<p class="text-center">
										<span class="fui-arrow-right"></span>
										Gift received
										<span class="fui-arrow-left"></span>
									</p>
								</div>
							</div>
						</div>
						<!-- /Received -->

					</div>
				</div>
				<!-- /Receiving -->

				<!-- Favorites -->
				<div ng-switch-when="favorites">
					<div class="row">
						<div class="col-xs-4">
							<button class="btn btn-block btn-default" ng-click="unbookmark(ad.id)">X</button>
						</div>
						<div class="col-xs-8" ng-show="ad.canRequest">
							<button class="btn btn-block btn-primary" ng-click="requestGift(ad.id)">Request Gift</button>
						</div>
					</div>
				</div>
				<!-- /Favorites -->

			</div>
		</div>
	</div>
</div>