<div class="ge-ad">
    <div class="well">
    	<user-profile name="Krasimir Stavrev" location="Sofia, Bulgaria" img="http://placehold.it/200x200/FF9999/FFF" points="100" since="August 2013" nested="true"></user-profile>
		<div class="ge-item-image">
			<a href="#/view/gift">
				<img src="{{img}}" class="img-responsive">
			</a>
			<div class="ge-icon-ribbon"></div>
		</div><!--./ge-item-image-->
		<div class="ge-action">
			<div class="row">
				<div class="col-xs-4">
					<a href="" class="btn btn-block btn-primary">
						<span class="glyphicon glyphicon-star"></span> 0
					</a>
				</div>
				<div class="col-xs-4">
					<a href="" class="btn btn-block btn-primary">
						<span class="glyphicon glyphicon-comment"></span> 0
					</a>
				</div>
				<div class="col-xs-4">
					<a href="" class="btn btn-block btn-primary">
						<span class="glyphicon glyphicon-share"></span> 0
					</a>
				</div>
			</div>
		</div>
		<div class="title">
			<a href="#/view/gift">
				{{title}}
			</a>
		</div>
	</div>
</div>