<div class="well">
	<h3>Messages</h3>
	<div class="row">
		<div class="col-xs-4 col-md-2">
			<img src="http://placehold.it/250x250/FF9999/FFF" class="img-rounded img-responsive" />
		</div>
		<div class="col-xs-8 col-md-10">
			<span>Test Sender</span>
			<span>September 12, 2013</span>
			<h4>Test Message</h4>
			<p>
				Lorem ipsum
			</p>
		</div>s
	</div>
	<div class="row">
		<div class="col-xs-4 col-md-2">
			<img src="http://placehold.it/250x250/FF9999/FFF" class="img-rounded img-responsive" />
		</div>
		<div class="col-xs-8 col-md-10">
			<span>Test Sender 2</span>
			<span>September 14, 2013</span>
			<h4>Test Message 2</h4>
			<p>
				Lorem ipsume
			</p>
		</div>
	</div>
</div>