<div class="ge-user-following">
	<div class="well">
		<div class="ge-user">
			<div class="row">
				<div class="col-xs-4">
					<div class="ge-user-image">
						<a href="#/view/profile/{{id}}">
							<img ng-src="{{img}}" ng-show="avatar" class="img img-rounded img-responsive">
							<img src="http://veneficalabs.com/gifteng/assets/4/temp-sample/ge-no-profile-picture.png" ng-hide="avatar" class="img img-rounded img-responsive">
						</a>
					</div>
				</div>
				<div class="col-xs-8">
					<div class="ge-detail">
						<div class="ge-name">
							<a href="#/view/profile/{{id}}">{{name}}</a>
						</div>
						<div class="ge-age">
							Giftenger since {{since}}
						</div>
						<div class="ge-location">
							{{location}}
						</div>
						<div class="ge-points" ng-hide="self">
							<span class="label label-default label-ge">G {{points}}</span>
							<a href="">
								<span ng-switch on="following">
									<span ng-switch-when="true" ng-click="unfollow()" class="label label-default">Unfollow</span>
									<span ng-switch-default ng-click="follow()" class="label label-default label-ge">Follow</span>
								</span>
							</a>
						</div>
						<div class="ge-points" ng-show="self">
							<span class="label label-default label-ge">Generosity Score {{points}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>