<div class="ge-user-following">
	<div class="well">
		<div class="ge-user">
			<div class="row">
				<div class="col-xs-4">
					<div class="ge-user-image">
						<a href="#/view/profile">
							<img src="{{img}}" class="img img-rounded img-responsive">
						</a>
					</div>
				</div>
				<div class="col-xs-8">
					<div class="ge-detail">
						<div class="ge-name">
							<a href="#/view/profile">{{name}}</a>
						</div>
						<div class="ge-age">Giftenger since {{since}}</div>
						<div class="ge-location">{{location}}</div>
						<div class="ge-points">
						        <span class="label label-default label-ge">
						        G {{points}}
						        </span>
							<span class="label label-default label-ge">
						        Unfollow
						        </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>