img {
    border: none;
}
a, .link {
    outline: none; /* remove the dotted outlines when clicking links/tabs */
    text-decoration: none;
    cursor: pointer;
}
input {
    outline: none; /* removes the focus border */
    border: none;
    border: 0;
}
input.blur {
    color: #999;
    font-style: italic;
}
ul {
    list-style: none;
}
form {
    margin: 0 auto;
    text-align: center;
}
label, .label {
    position: relative;
    top: -3px;
}
:focus { outline:none; }
::-moz-focus-inner { border:0; }




/* GIFTENG CSS */
h1 {margin:0;padding:0;}
.gifteng {display:block;position:relative;font-size:2.4em;color:#606060;font-weight:bold;}
.gifteng:before, .gifteng:after {content: attr(title);position:absolute;color:rgba(255,255,255,.1);}
.gifteng:before { top: 2px; left: 1px }
.gifteng:after  { top: 2px; left: 2px }


/* CLEAR FIX */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; margin: 0 auto; width: 95%; }


/* COMMON */
.fl {float: left;}
.fr {float: right;}
.clear {clear: both;}


/* ADS */
.id {font-size:80%;font-weight:100;text-decoration:none;color:#60cfda;}
.itemBox .id {padding:6px 9px 0px 9px;}
/* override */
.itemBox .location {text-align:right;padding:6px 9px 0px 19px;background: url('../img/icon_location.png') no-repeat 0% 50%;}



.formBox {
    display:block;
    width:100%;
    padding:24px;
    text-decoration:none;
    text-align:center;
}
.contentBox {
    display:block;width:100%;text-decoration:none;text-align:center;
}
.formBox div {
    padding: 0 0 5px 0;
}
.loginBox {
    overflow:visible !important;
}


.profile .profileImage {
    background-size: 80px 80px !important;
    width: 80px;
    height: 80px;
}
.profile .statistics {
    padding:6px 9px;
}
.profile .statistics > div {
    margin: 4px;
}
.profile .statistics .giving {
    font-size: 13px;
}


.error {
    color: #cc6666;
    margin: 10px auto;
    margin-top: 0;
    text-align: center;
}

.container {
    overflow:visible;
}
.containerDefaultSize {
    width: 300px;
    min-height: 225px;
    padding-top: 30px;
}


#header .logo {
    position: fixed;
    left: 50%;
    margin-left: -50px !important;
    width: 100px;
    height: 52px;
    background: url(../img/logo.png) no-repeat top center;
}


/* see: http://www.wpdfd.com/editorial/thebox/deadcentre4.html */
/**
.indexOuter {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    overflow: visible;
}
.indexInner {
    margin-left: -450px;
    position: absolute;
    top: -275px;
    left: 50%;
    width: 900px;
    height: 550px;
}
/**/


/* see: http://dabblet.com/gist/2872671 */
/* see: http://stackoverflow.com/questions/356809/best-way-to-center-a-div-on-a-page-vertically-and-horizontally/13356401#13356401 */
.indexOuter {
    width: 850px;
    height: 550px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/* INPUT ELEMENTS */
.textbox {
}
.checkbox {
    position: relative;
    top: 0px;
    overflow: hidden;
}
.inlineRadio {
    display: inline;
    text-align: center;
}



/* FORM WRAPPER */
.form_wrapper form {
    display: none;
    width: 300px;
}
.form_wrapper form.active {
    display:block;
}



/* CHOSEN */
.chzn-select {
    width: 300px;
}
.chzn-container {
    text-align:left;
    margin-bottom: 12px;
}
.chzn-container .chzn-drop {
    width: 305px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow:    none !important;
    box-shadow:         none !important;
    border: 1px solid #e4e4e4 !important;
}
.chzn-container-single .chzn-drop {
    -webkit-border-radius:  0 0 3px 3px !important;
    -moz-border-radius:     0 0 3px 3px !important;
    border-radius:          0 0 3px 3px !important;
}
.chzn-container-single .chzn-single {
    height: auto !important;
    padding: 12px 24px !important;
    color: #a6a6a6 !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7) !important;
    
    -webkit-box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0 !important;
    -moz-box-shadow:    inset 0 1px 0 #eee,#fff 0 1px 0 !important;
    box-shadow:         inset 0 1px 0 #eee,#fff 0 1px 0 !important;
    -webkit-border-radius:  3px !important;
    -moz-border-radius:     3px !important;
    border-radius:          3px !important;
    background-color: #faf9f8 !important;
    border: 1px solid #e4e4e4 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #faf9f8), color-stop(1, #faf9f8)) !important;
    background-image: -moz-linear-gradient(top, #faf9f8 5%, #faf9f8 100%) !important;
    background-image: -webkit-linear-gradient(top, #faf9f8 5%, #faf9f8 100%) !important;
    background-image: -o-linear-gradient(top, #faf9f8 5%, #faf9f8 100%) !important;
    background-image: -ms-linear-gradient(top, #faf9f8 5%, #faf9f8 100%) !important;
    background-image: linear-gradient(to bottom, #faf9f8 5%, #faf9f8 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faf9f8', endColorstr='#faf9f8',GradientType=0) !important;
    font-size: 136% !important;
    font-weight: 400 !important;
}
.chzn-container-single .chzn-single abbr {
    top: 20px !important;
    background: url('../img/chosen-sprite.png') -42px 1px no-repeat !important;
}
.chzn-container-single .chzn-single abbr:hover {
    background-position: -42px -10px !important;
}
.chzn-container-single.chzn-disabled .chzn-single abbr:hover {
    background-position: -42px -10px !important;
}
.chzn-container-single .chzn-single div {
    width: 32px !important;
    padding: 10px 0 0 0 !important;
}
.chzn-container-single .chzn-single div b {
    background: url('../img/navigator.png') no-repeat -96px 0px !important;
    width: 24px !important;
    height: 24px !important;
}
.chzn-container-single .chzn-search input {
    background: url('../img/navigator.png') no-repeat 100% -48px !important;
    margin: 1px 0 !important;
    padding: 12px 24px !important;
    outline: 0 !important;
    border: 1px solid #e4e4e4 !important;
    box-shadow: none !important;
    width: 100% !important;
    height: 24px !important;
}
.chzn-container-multi .chzn-choices .search-field input {
    font-family: 'PT Sans', serif !important;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    background: url('../img/chosen-sprite.png') -42px 1px no-repeat !important;
}
.chzn-container .chzn-results-scroll-down span {
    background: url('../img/chosen-sprite.png') no-repeat -4px -3px !important;
}
.chzn-container .chzn-results-scroll-up span {
    background: url('../img/chosen-sprite.png') no-repeat -22px -3px !important;
}
.chzn-rtl .chzn-search input {
    background: #fff url('../img/chosen-sprite.png') no-repeat -30px -20px !important;
    background: url('../img/chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff)) !important;
    background: url('../img/chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%) !important;
    background: url('../img/chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%) !important;
    background: url('../img/chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%) !important;
    background: url('../img/chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%) !important;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi)  {
  .chzn-rtl .chzn-search input, .chzn-container-single .chzn-single abbr, .chzn-container-single .chzn-single div b, .chzn-container-single .chzn-search input, .chzn-container-multi .chzn-choices .search-choice .search-choice-close, .chzn-container .chzn-results-scroll-down span, .chzn-container .chzn-results-scroll-up span {
      background-image: url('../img/chosen-sprite@2x.png') !important;
      background-repeat: no-repeat !important;
      background-size: 52px 37px !important;
  }
}
.chzn-container .chzn-results .highlighted {
    background-color: #3cd6d3 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3cd6d3', endColorstr='#00bebe',GradientType=0) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3cd6d3), color-stop(1, #00bebe)) !important;
    background-image: -moz-linear-gradient(top, #3cd6d3 5%, #00bebe 100%) !important;
    background-image: -webkit-linear-gradient(top, #3cd6d3 5%, #00bebe 100%) !important;
    background-image: -o-linear-gradient(top, #3cd6d3 5%, #00bebe 100%) !important;
    background-image: -ms-linear-gradient(top, #3cd6d3 5%, #00bebe 100%) !important;
    background-image: linear-gradient(to bottom, #3cd6d3 5%, #00bebe 100%) !important;
}
.chzn-container-active .chzn-single {
    background-color: #ffffff !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow:    none !important;
    box-shadow:         none !important;
    border: 1px solid #e4e4e4 !important;
}
.chzn-container-active .chzn-single-with-drop {
    border: 1px solid #e4e4e4 !important;
}
.chzn-container-active .chzn-single-with-drop div b {
    background-position: -120px 0px !important;
}

.fade {
    color:#dedede !important;
}
/**/