/* CSS Document */

/* GENERAL */
html, body{font-family:'Lato', sans-serif;text-shadow: 0 1px 0 #fff;background:url('temp-sample/ge-background.png') #eeedea;}
p {color: #34495e;font-size: 100%;}
em {font-style: normal !important;color: #aaaaaa;} /* todo review place and hierarchy */
.error {color: #eb6b62 !important;padding: 9px;text-align: center;}
.ge-topspace {padding-top:66px;}
/* box-sizing */
[class^="ge"], [class*=" ge"], textarea {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/* WELL */
.ge-well.ge-text {padding: 19px;}
.ge-well {background:#fff;padding:0px;border:none;box-shadow: 0px 2px 3px #cbc8c3;}
.ge-well .ge-topspace {padding-top:26px;}
.ge-well .ge-logo {padding:0px;text-align:center;}
.ge-well.ge-authbox {padding: 0px;text-align: center;}
.ge-well .ge-well-content {min-height:410px;}
.ge-well .ge-well-content.ge-form {padding:0px;}
.ge-well .ge-footline {margin-top: 12px;padding: 9px 19px 0 19px;background-color:#cbc8c3;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;min-height:37px;}
.ge-well .ge-footline.empty {background:none;}
.ge-well .ge-footline a {color: #fff;text-shadow: none;}
.ge-well .ge-footline p {padding-bottom: 0px;color: #aaaaaa;text-align: center;}
.ge-well .control-label, .ge-well .label, .ge-well label {color: #bdc3c7;}
.ge-well i.lead {color:#00bebe;padding: 9px;}
.ge-well .ge-item {padding:0px;}
.ge-well .ge-action {padding:9px;width:100%;}
.ge-well .ge-item .ge-item-image .ge-action {position:absolute;bottom:0;left:0;z-index:5;}

/* USER */
.ge-user {padding:9px;}
.ge-user {zoom:1;} /* todo review may be obsolete IE fix */
.ge-user .ge-user-image {float: left;margin-right: 9px;}
.ge-user .ge-user-image img {width: 60px;height: 60px;}
.ge-user .ge-detail {font-size: 70%;line-height:110%;color:#aaaaaa;}
.ge-user .ge-detail .ge-name a {font-size:136%;font-weight:600;color:#aaaaaa;}
.ge-user .ge-detail .ge-name a.ge-pencil {font-size:90%;color:#00bebe;} /*edit*/
.ge-user .ge-detail .ge-name span.label-ge {float: right;color:#ffffff;background:#00bebe;} /*follow btn*/
.ge-user .ge-detail .ge-name span.label-ge.active {background:#e4e4e4;}
.ge-user .ge-detail .ge-points span.label {color:#00bebe;margin-top:6px;} /*G score*/
.ge-user:before,.ge-user:after {content:"";display:table;} /* todo review */
.ge-user:after {clear:both;}
/* user info panel */
.ge-user .ge-info {background-color:#fafafa;border-radius: 3px;}
.ge-user .ge-info [id^="tab_"] .btn.btn-ge {background-color:#fafafa;color: #00bebe;}
.ge-user .ge-info .nav-tabs.nav-append-content > li.active:first-child:before {background-color: transparent;border-left: none;}
.ge-user .ge-info .tab-content {border: none;margin-bottom: 0px;padding: 10px;position: relative;z-index: 1;background-color:#fafafa;}
.ge-user .ge-info .nav-tabs {border-bottom: 1px solid #dedede;}
.ge-user .ge-info .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {border-color: transparent;background-color: transparent;border-width: 2px;color: #7f8c9a;border-bottom: 1px solid #00bebe;}
.ge-user .ge-info .nav-tabs > li > a {padding: 7px 16px 8px;}
/* user profile - see also: detail-view*/


/* ITEM BOX */
.ge-box:before, .ge-box:after {display: table;line-height: 0;content: "";} /* TODO review necessity */
.ge-box:after {clear: both;} /* TODO review necessity */
.ge-box-well {padding:0} /* TODO review necessity */
.ge-box-images {padding:9px 0;} /* TODO review necessity */

/* ITEM */
.ge-item {}
.ge-item .ge-item-image {min-height:220px;position:relative;} /*TODO review min-height and margin*/
.ge-item .ge-item-image .btn {background-color: rgb(0, 0, 0);background-color: rgba(0, 0, 0, 0.2);
	/* For IE 5.5 - 7*/
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";}
.ge-item .ge-description {padding:9px;}
.ge-item .ge-title{color:#34495e;font-size: 100%;font-weight: 600;line-height:1.5em;margin:0 0 12px 0;}
.ge-item .ge-subtitle{color:#aaaaaa;}
.ge-item .ge-subtitle em{margin:0 3px 0 6px;}
.ge-item .ge-user-image img.inactive {opacity: 0.2;filter: alpha(opacity=20);} /* giving */
.ge-box p.ge-location {font-weight:400;color: #aaaaaa;font-size: 80%;line-height:1.2em;text-align:right;margin-bottom: 3px;} /* browse location TODO review hierarchy */

/* DETAIL-VIEW */
.ge-detail-view .well {padding:19px 0px !important ;}
.ge-detail-view .ge-user {padding:0 19px;}
.ge-detail-view .ge-user .ge-user-image {margin-right: 19px;}
.ge-detail-view .ge-user .ge-user-image img {width: 112px;height: 112px;}
.ge-detail-view .ge-user .ge-detail {font-size: 100%;}
.ge-detail-view .ge-user .ge-detail .ge-name a {margin:12px 0 19px 0;} /* TODO margin does not work! */
.ge-detail-view .ge-item .ge-item-image {min-height:420px;margin:19px 0 0 0;}
.ge-detail-view .ge-item .ge-action {padding:0 19px 19px 19px;}
.ge-detail-view .ge-item .ge-description {padding:0 19px;}
.ge-detail-view .ge-item .ge-map img {min-height: 195px;}
.ge-detail-view .ge-messagelist {max-height:589px;}
.ge-detail-view p.ge-location {font-weight:400;color: #aaaaaa;font-size: 80%;line-height:1.2em;text-align:right;margin: 3px 19px 0 0; padding: 0px;}

/* MESSAGING  todo reorder, review */
.ge-messages, .ge-comments {padding:0 0 9px 0;}
.ge-comments .ge-well, .ge-messages .ge-well {padding: 19px 0 0 0;}
.ge-messages .ge-input {padding: 0px;}
.ge-messages .ge-input .ge-text textarea, .ge-comments .ge-input .ge-text textarea {font-size: 11px;line-height:130%}
.ge-messages .ge-input .ge-text textarea:focus {border-color: #bdc3c7;}
.ge-messages .ge-input .btn, .ge-comments .ge-input .btn {color: #fff;padding: 14px 3px !important;}
.ge-messages .ge-title, .ge-message a.ge-title {font-weight:600;color:#aaaaaa;font-size: 110%;}
.ge-messages .ge-subject {padding:9px;}
.ge-messagelist, .ge-conversation {max-height:117px;overflow: hidden;border-top: 1px solid #e4e4e4;}
.ge-messagelist .ge-message a.fui-trash, .ge-conversation .ge-message a.fui-trash {float: right;color: #e4e4e4;}
.ge-message {padding: 9px;min-height:60px;background-color: #fafafa;border-bottom: 1px solid #e4e4e4;}
.ge-message .ge-user-image {float:left;width:50px;width:50px;width:50px;}
.ge-message .ge-text {display:table;font-size: 100%;text-shadow: none;}
.ge-message .ge-text .ge-name {color:#34495e;font-weight:600;} 
.ge-message .ge-text .ge-date {padding-left:9px;color: #999;}
.ge-message .ge-text .ge-block {display: block;margin-top:3px;}
.ge-message .ge-text span.ge-block {font-size: 116%;color: #333333;}
.ge-message:hover {background-color:#f7f5f5;}
.ge-message .ge-text {font-size: 11px;line-height:1.1em;}
.ge-message .ge-user-image img {width: 42px;height: 42px;}
.ge-message:after {clear: both;}
.ge-expand, .ge-messages .ge-expand {height:28px;background:url('temp-sample/ge-expand.png') no-repeat center #fff;}

/* ELEMENTS */
/* buttons */
.btn.btn-ge {background-color: #00bebe;}
.btn.btn-ge:hover,.btn.btn-ge:focus,.btn-group:focus .btn.btn-ge.dropdown-toggle {background-color: #00cece;}
.btn.btn-ge:active,.btn-group.open .btn.btn-ge.dropdown-toggle,.btn.btn-ge.active {background-color: #00a5a5;}

.btn.btn-ge2 {background-color: #eb6b62 !important;}
.btn.btn-ge2:hover,.btn.btn-ge2:focus,.btn-group:focus .btn.btn-ge2.dropdown-toggle {background-color: #eb8f89 !important;}
.btn.btn-ge2:active,.btn-group.open .btn.btn-ge2.dropdown-toggle,.btn.btn-ge2.active {background-color: #d26058 !important;}
.btn.ge-submit {margin-top:16px;}

/* Bootstrap Flat-UI override - form elements */
input:focus:invalid:focus,textarea:focus:invalid:focus,select:focus:invalid:focus {border-color: #eb8f89 !important;-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;}
.checkbox.checked .icons {color: #00bebe !important;}
.radio.checked .icons {color: #00bebe !important;}
.checkbox.checked, .radio.checked {color: #00bebe !important;}
.dropdown-menu li.selected > a, .dropdown-menu li.active > a.highlighted, .dropdown-menu li.selected > a.highlighted {background: #00bebe !important;text-shadow: none !important;}
.btn.btn-info.dropdown-toggle, .btn.btn-info.active {background-color: #bdc3c7;}
.radio.inline, .checkbox.inline {padding-top: 0px !important;}
.progress {
  background: #ebedef;
  border-radius: 24px;
  height: 24px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}
.progress .bar {padding-top: 6px;font-size: 80%;}
.btn-social-facebook {color:#ffffff;}
.navbar .nav > li > a {font-weight: normal !important;}
.snap-drawer ul li form > input {background: #34495e;border: 1px solid #bdc3c7;display: block;margin: 15px auto;color: #ffffff;} /*style for Search box*/
/* Bootstrap Flat-UI override - modal */
.modal [class*="span"] {margin-left: 0px !important;} /* 285 */
.modal .modal-body {padding: 0px !important;} /* 5252 */
.modal {width: auto !important;max-width: 560px;} /* 5204 */

/* TABS */
.user-giving_tabs, .user-receiving_tabs {margin-bottom:19px;}
.user-giving_recipient .ge-user .ge-points a {font-size: 70%;vertical-align: super;}
.ge-info .tab-content .tab-pane button.btn-ge {color: #6f6f6f !important;}
.ge-info .tab-content .tab-pane button.btn-ge:active, .ge-info .tab-content .tab-pane button.btn-ge:focus {color: #00bebe !important;}

/* FORMS */
.ge-form {padding:19px;}
.ge-form .form_body {max-height: 326px;overflow: scroll;}
.ge-form .control-form button {margin-top:42px;text-transform:uppercase;}
.ge-form blockquote p {color:#00bebe;}

/* OTHER PAGES */
.ge-terms, .ge-description, .ge-details {font-size: 100%;line-height: 120%;}
.ge-headline {text-align: center;margin-bottom: 30px;font-weight: 600;}
.control-post-start {margin-top:94px;}
.control-post-online {margin-top:139px;}
/* TEMP review this ID based solution */
#top-giftengers .ge-user .ge-user-image img {width: 90px;height: 90px;}
#top-giftengers img.inactive {opacity: 0.01;filter: alpha(opacity=01);}
#top-giftengers img.inactive:hover {opacity: 0.9;filter: alpha(opacity=90);}

/* FONT - no need to review below */
@font-face {
	font-family: 'gifteng-icons';
	src:url('fonts/gifteng-icons.eot');
	src:url('fonts/gifteng-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/gifteng-icons.woff') format('woff'),
		url('fonts/gifteng-icons.ttf') format('truetype'),
		url('fonts/gifteng-icons.svg#gifteng-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'gifteng-icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="ge-icon-"] {
*/
.ge-icon-gifteng, .ge-icon-logo, .ge-icon-giftbox, .ge-icon-ribbon, .ge-icon-heart, .ge-icon-g-pin, .ge-icon-pin, .ge-icon-star, .ge-icon-bubble, .ge-icon-share, .ge-icon-smiley, .ge-icon-check, .ge-icon-pencil, .ge-icon-businesses, .ge-icon-press, .ge-icon-clover, .ge-icon-list, .ge-icon-facebook, .ge-icon-twitter, .ge-icon-pinterest {
	font-family: 'gifteng-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.ge-icon-gifteng:before {
	content: "\e000";
}
.ge-icon-logo:before {
	content: "\e001";
}
.ge-icon-giftbox:before {
	content: "\e002";
}
.ge-icon-ribbon:before {
	content: "\e003";
}
.ge-icon-heart:before {
	content: "\e004";
}
.ge-icon-g-pin:before {
	content: "\e005";
}
.ge-icon-pin:before {
	content: "\e006";
}
.ge-icon-star:before {
	content: "\e007";
}
.ge-icon-bubble:before {
	content: "\e008";
}
.ge-icon-share:before {
	content: "\e009";
}
.ge-icon-smiley:before {
	content: "\e00a";
}
.ge-icon-check:before {
	content: "\e00b";
}
.ge-icon-pencil:before {
	content: "\e00c";
}
.ge-icon-businesses:before {
	content: "\e00d";
}
.ge-icon-press:before {
	content: "\e042";
}
.ge-icon-clover:before {
	content: "\e03f";
}
.ge-icon-list:before {
	content: "\e00e";
}
.ge-icon-facebook:before {
	content: "\e046";
}
.ge-icon-twitter:before {
	content: "\e036";
}
.ge-icon-pinterest:before {
	content: "\e029";
}

.ge-icon-gifteng-large {
color: #00bebe;
font-size: 9em;
line-height: 0.99em;
}

.ge-icon-ribbon {
    position:absolute;
    top:-1px;
    left:22px;
    z-index:5;
    font-size: 2.4em;
    color: #00bebe;
    text-shadow: 0px 1px 2px rgba(170, 170, 170, 0.6);
}

.ge-icon-ribbon-large {
	color: #00bebe;
	font-size: 4em;
	vertical-align: top;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	margin: 0 0 0 15px;
	line-height:0.99em;
}


/* NAV */
/*.snap-content > .navbar.ge-navbar {position:static !important;z-index:1000;}*/
.snap-content > .navbar.ge-navbar {position:absolute !important;z-index:1000;
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;}
.ge-navbar .nav sup {text-shadow:none;color: #ffffff;}
.ge-navbar, .ge-navbar .navbar-inner {background-color:#00bebe;border-radius:0px;height:52px;}
.ge-navbar {font-size: 16.996px; /* 17px */}
.ge-navbar .nav > li > a {font-size: 16.002px;/* 16px */color: #ffffff;padding: 16px 20px 15px;}
.ge-navbar .nav > li > a:active, a:hover, a:focus, a:visited {color: #34495e !important;}
.ge-navbar .btn-navbar {color: #ffffff;margin: 7px 10px;}
.ge-navbar .nav > li:first-child.active > a {padding-left: 20px;}
.ge-navbar i.ge-icon-gifteng {font-size: 4.6em;line-height:9px;color: #ffffff;text-shadow:none;}
.ge-navbar i.ge-icon-gifteng sup {font-size: 11px;padding:0 0 0 3px;vertical-align:middle;}
.bottom-menu-inverse {text-shadow:none;}
/* NAV login-drop */
.login-drop {padding: 15px !important; padding-bottom: 0px !important;}
.login-drop input[type="text"],.login-drop input[type="password"] {width: 142px; margin-bottom: 15px;}
.login-drop label{color: #ffffff; text-shadow: none;padding-left:10px;float:left;}
.login-drop .btn{clear: left; width: 100%; height: 32px; font-size: 16px; font-weight: 400; padding-bottom: 30px;}


/* Responsiveness fixes */
@media (max-width: 767px) {
	.ge-well .ge-well-content {
		padding:10px !important;
	}
	.ge-well .ge-footline {
		padding: 9px 10px 0 10px;
	}
	.control-group {
		margin-bottom:8px !important;
	}
	.select {
		margin-bottom:0px !important;
	}
	.input-append, .input-prepend {
		margin-bottom:0 !important;
	}
	.ge-user {
		padding-left:10px !important;
		padding-right:10px !important;
	}
	.btn.btn-huge {
		font-size:20px;
	}
	/* Bootstrap extension for better mobile responsiveness */
	.row-fluid .mobile-one {
	  width: 31.491712707182323%;
	  *width: 31.43852121782062%;
	}
	
	.row-fluid .mobile-three {
	  width: 65.74585635359117%;
	  *width: 65.69266486422946%;
	}
	
	.row-fluid .mobile-two {
	  width: 48.61878453038674%;
	  *width: 48.56559304102504%;
	}
	
	.row-fluid .mobile-four {
		width: 100%;
		*width: 99.94680851063829%;
	}
	
	.row-fluid .mobile-one,
	.row-fluid .mobile-two,
	.row-fluid .mobile-three,
	.row-fluid .mobile-four {
	  float:left;
	  margin-left: 2.7624309392265194%;
	  *margin-left: 2.709239449864817%;
	}
	
	select.select-block {
		display:block !important;
		width:100% !important;
	}
	div.select-block {
		display:none !important;
	}
}