
.file {
    display: none;
    cursor: pointer;
}
.link {
    cursor: pointer;
}

.ge-datepicker {
    width: 223px;
}

.leaflet-control-attribution {
    display: none !important;
}

.map {
    height: 254px;
}

/**
.ge-item {
    margin-left: 12px !important;
}
/**/

form {
    /*margin: 0px !important;*/
}
