.ge-container {
	background: url('temp-sample/ge-background.png') #eeedea;
}
.snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.snap-content > .navbar {
	position:relative !important;
}


.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: #2c3e50;
}

.snap-drawer {
  position: absolute;
  color: #FFF;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}
.snap-drawer ul, .snap-drawer ul li {
	display:block;
	list-style-type:none;
	margin:0;
}
.snap-drawer ul li {
	border-bottom:1px solid #34495e;
}
.snap-drawer ul li > a {
	display:block;
	padding:15px;
	color:#bdc3c7 !important;
	text-shadow:none;
	border-left:6px solid #2c3e50;
}
.snap-drawer ul li > a:hover {
	color:#FFFFFF !important;
	background:#34495e;
	border-left:6px solid #bdc3c7;
}
.snap-drawer ul li.active > a, .snap-drawer ul li.active > a:hover {
	background:#34495e;
	border-left:6px solid #00bebe;
}
.snap-drawer ul li > input {
	background:#34495e;
	border:1px solid #bdc3c7;
	display:block;
	margin:15px auto;
	color:#ffffff;
}
.snap-drawer-left {
  left: 0;
  z-index: 1;
}

.snap-drawer-right {
  right: 0;
  z-index: 1;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}

#open-left span {
	display: block;
	margin: 10px 20px 0 0;
	color:#ffffff;
	text-shadow:none;
	padding:5px 10px;
	background:#00a6a6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#open-left.active span {
	background:#008c8c;
}
