/* CSS Document */
html, body{font-family:'Lato', sans-serif;text-shadow: 0 1px 0 #fff;background:url('temp-sample/ge-background.png') #eeedea;}


/* Bootstrap Flat-UI override */
/**
a {color: #00bebe !important;}
a:hover {color: #00cece !important;}
a:active {color: #00a5a5 !important;}
/**/

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #eb8f89 !important;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
}

/* CONTAINERS */
/* TODO IMPORTANT! review the global box-sizing for any negative effects */
[class^="ge"], [class*=" ge"] {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.ge-container {}
.ge-highlight {padding: 60px 0;background-color: #f7f5f5;border-top: 1px solid #cbc8c3;border-bottom: 1px inset #cbc8c3;margin-bottom:36px;}

.ge-stage {margin-bottom: 30px;}
.ge-stage .ge-headline p {font-size: 160%;color: #00bebe;margin-bottom:0px;}
.ge-stage .ge-headline small {font-size: 100%;font-weight:300 !important;line-height:130%;color: #6f6f6f;}

.ge-topspace {padding-top:66px;}
.ge-bottomspace {padding-bottom:66px;}
.ge-spacer {height: 20px;} /* TODO find a replacement in bootstrap if available */
.ge-well {background-color: #fff;border: none;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.ge-transparent {background-color: transparent;}
.ge-headline {color: #00bebe;font-size: 120% !important;font-weight: 600;margin-bottom: 20px;word-wrap: break-word;}


/* NAV */
.ge-navbar .nav sup {text-shadow:none;color: #ffffff;}
.ge-navbar, .ge-navbar .navbar-inner {background-color:#00bebe;border-radius:0px;}
.ge-navbar {font-size: 16.996px; /* 17px */}
.ge-navbar .nav > li > a {font-size: 16.002px;/* 16px */color: #ffffff;padding: 16px 20px 15px;}
.ge-navbar .nav > li > a:active, a:hover, a:focus, a:visited {color: #34495e !important;}
.ge-navbar .btn-navbar {color: #ffffff;margin: 7px 10px;}
.ge-navbar .nav > li:first-child.active > a {padding-left: 20px;}

.bottom-menu-inverse {text-shadow:none;}


/* ICONS */
.ge-icons {font-size: 32px;margin-left: 0px;}
[class^="geicon-"],
[class*=" geicon-"] {display: inline-block;width: 69px;height: 69px;*margin-right: .3em;line-height: 14px;vertical-align: text-top;background-image: url("temp-sample/ge-icons.png");background-position: 69px 69px;background-repeat: no-repeat;}
[class^="geicon-"]:last-child,
[class*=" geicon-"]:last-child {*margin-left: 0;}
.geicon-gift{ background-position: 0 -158px;  } 
.geicon-check{ background-position: 0 -237px;  } 
.geicon-heart{ background-position: 0 -316px;  }
.gifteng {display: inline-block;background-image: url("temp-sample/ge-icons.png");background-repeat: no-repeat;background-position: 0 -8px;width: 86px;height: 46px;}
.gifteng2 {display: inline-block;background-image: url("temp-sample/ge-icons.png");background-repeat: no-repeat;background-position: 0 -87px;width: 86px;height: 46px;}
/* INCONBAR (needs Flat UI) */
.iconbar-ge {background-color: #fafafa;}
.iconbar-ge > ul > li > a {color: #00bebe;}
.iconbar-ge > ul > li.active > a {color: #00a5a5;}
.iconbar-ge > ul > li > a:hover, .iconbar-ge > ul > li > a:focus {color: #e4e4e4;}
.iconbar-ge .iconbar-info {background-color: #00bebe !important;border: 2px solid #fafafa !important;border-radius: 6px !important;}
.iconbar-ge .iconbar-unread {background-color: #d26058;border: 2px solid #fafafa;}

.ge-info .iconbar-ge p {font-size: 14px;text-align: center;margin:0px;padding: 0px;line-height: 21px;}
.ge-info .iconbar-ge p.ge-value {font-size: 18px;text-align: center;}
.ge-info .iconbar-ge p.unread {color: #d26058;}
/* ge ICONS */
[class^="icon-ge"],[class*=" icon-ge"] {background-image: url("temp-sample/share.png");}
.icon-geFacebook {background-position: 0 0;}
.icon-geTwitter {background-position: -24px 0;}
.icon-gePinterest {background-position: -48px 0;}
.icon-green {background-image: url("bootstrap/img/glyphicons-halflings-green.png");}

/* LABELS, BADGES */
.ge-label-active {background-color: #00bebe;color: #fff;}
.ge-label-active[href] {background-color: #00bebe;color: #fff;}
.ge-label-ended {background-color: #aaaaaa;color: #fff;}
.ge-label-ended[href] {background-color: #aaaaaa;color: #fff;}

/* BUTTONS */
.btn.btn-ge {background-color: #00bebe;}
.btn.btn-ge:hover,.btn.btn-ge:focus,.btn-group:focus .btn.btn-ge.dropdown-toggle {background-color: #00cece;}
.btn.btn-ge:active,.btn-group.open .btn.btn-ge.dropdown-toggle,.btn.btn-ge.active {background-color: #00a5a5;}

.btn.btn-ge2 {background-color: #eb6b62 !important;}
.btn.btn-ge2:hover,.btn.btn-ge2:focus,.btn-group:focus .btn.btn-ge2.dropdown-toggle {background-color: #eb8f89 !important;}
.btn.btn-ge2:active,.btn-group.open .btn.btn-ge2.dropdown-toggle,.btn.btn-ge2.active {background-color: #d26058 !important;}


/* GL ELEMENTS */
hr.ge-hr {border-top: 1px solid #cbc8c3 !important;border-bottom: 1px inset #f7f5f5 !important;}
hr.ge-hr-dotted {border: 0;border-bottom: 1px dotted #e4e4e4 !important;background: #cbc8c3 !important;}


/* VIEWS */
/* tile-view */
.ge-tile-view .ge-well {padding: 0 0 9px 0;}
.ge-tile-view .ge-user {padding: 9px;}
.ge-tile-view .ge-item .ge-user-image {margin-right: 9px;}
.ge-tile-view .ge-item .ge-user-image img {width: 42px;height: 42px;}
.ge-tile-view .ge-user .ge-name {font-size: 80%;font-weight:600;color:#6f6f6f;}
.ge-tile-view .ge-user .ge-age {font-size: 70%;font-weight:400;color:#aaaaaa;}
.ge-tile-view .ge-user .ge-location {font-size: 70%;font-weight:400;text-align:left;}
.ge-tile-view .ge-user .ge-points {display: none;}
.ge-tile-view img.ge-item-image {width:600px;height:600px;background-size:600px 600px;}
.ge-tile-view .ge-item-text {padding:0 9px;}
.ge-tile-view .ge-title{margin-top: 0px;font-size: 100%;line-height: 120%;}
.ge-tile-view .ge-title .label {margin: 0 9px;}
.ge-tile-view .ge-item-description {margin-top: 0px;font-size: 100%;line-height: 120%;}
.ge-tile-view .ge-item-location {font-weight: 600;font-size: 76%;text-align:right;}
/* list-view */
.ge-list-view .ge-table th {font-weight: 200;font-size: 80%;text-align: center;border-top: none;}
.ge-list-view .ge-table td {text-align: center;vertical-align: middle;}
.ge-list-view .ge-table td {font-weight: 200;}
.ge-list-view .ge-table td.bold {font-weight: 600;}
.ge-list-view .ge-table td p.ge-title, .ge-list-view .ge-table td .ge-subtitle {font-weight: 200;font-size: 80%;}
.ge-list-view .ge-table td .ge-subtitle {display: block;}
.ge-list-view .ge-table .ge-item-image {width: 60px;height: 60px;}
.ge-list-view .ge-item .ge-info .ge-tile {height: 65px;padding-top: 6px;}
.ge-list-view .ge-item .ge-info .ge-tile p {font-size: 80%;}
.ge-list-view .ge-item .ge-action button {margin-top: 16px;}
/* detail-view */
.ge-detail-view .ge-well {padding: 0 0 9px 0;}
.ge-detail-view .ge-item .ge-user-image img {width:64px;height:64px;background-size:64px 64px;}
.ge-detail-view .ge-item .ge-item-image img {width:600px;background-size:600px 600px;}
.ge-detail-view .ge-share {padding: 19px;}
.ge-detail-view .ge-user {padding: 19px;}
.ge-detail-view .ge-action {padding:28px 19px 19px 19px;}
#item_description.ge-text {padding:0 19px;height:344px;}
.ge-detail-view .ge-title{margin-top: 20px;}
.ge-detail-view .ge-title .label {margin: 0 9px;}
.ge-detail-view .ge-map {padding: 0 0 18px 0;}
.ge-detail-view .navbar {margin-bottom:0px;}
.ge-detail-view .ge-item-thumbnail {padding:19px;}
.ge-detail-view .ge-item-thumbnail img {width:90px;height:90px;background-size:90px 90px;padding:3px 0;}




/* PAGES */
[id^="welcome_"] .ge-well {padding:0px;box-shadow:0px 2px 3px #cbc8c3;}
[id^="welcome_"] .ge-text p.ge-title {padding:16px 0 0 0;font-size:160%;}
[id^="welcome_"] .ge-text p {padding:9px;text-align: center;font-size:100%;line-height: 130%;}
[id^="welcome_"] .ge-well .ge-item-image img {border-top-left-radius:4px;border-top-right-radius:4px;}
[id^="welcome_"] .ge-well .ge-item-image {border-top-left-radius:4px;border-top-right-radius:4px;background-color:#f7f3f3;}
#welcome_0.ge-stage {margin-top:36px;}
#welcome_0.ge-stage .ge-headline p {padding:60px 0 16px 0;font-size: 100%;font-weight:300 !important;line-height:130%;color: #6f6f6f;}
#login_ {margin:87px 0 86px 0;}
.ge-ribbon2 {background-image: url("temp-sample/ge-ribbon2.png");background-repeat: no-repeat;background-position: 28px 0;background-size:35px 50px;}
#login_ a {color: #d26058 !important;font-weight: 600;}
#login_ a:hover {color: #00bebe !important;/* #00cece */}
#welcome_4.ge-stage {margin-bottom: 30px;}
#welcome_4 {font-size: 120%;line-height:130%;}
#welcome_4 p {font-size: 200%;font-weight:800 !important;margin-bottom:0px;}
#welcome_4 .btn-ge {margin-top:50px;}
.ge-welcome .ge-headline {text-align:center;}
.ge-welcome	p.lead {font-size: 110%;}
.ge-welcome #welcome_3 .ge-well {background:transparent;box-shadow:none;}
.ge-welcome #welcome_3 .ge-item-image {text-align: center;background:transparent;margin-bottom:20px;}
.ge-welcome #welcome_3 img.img-rounded {border-radius: 180px;width:210px;height:210px;background-size:210px 210px;}
#welcome_3.ge-stage .ge-headline {margin-bottom:36px;}

/* favorites */
.ge-favorite .ge-well {padding:9px;}
/* giving */
.ge-giving .ge-well {padding:9px 0;}
/* followers */
.ge-follow .ge-well {padding:9px;}
.ge-follow .ge-user .ge-user-image {width:34px;height:34px;background-size:34px 34px;}
.ge-follow .ge-user .ge-location, .ge-follow .ge-user .ge-points {display: none;height: 0px;}
/* business */
.ge-business .ge-welcome .span6 {text-align: center;}
.ge-business .ge-welcome img.img-rounded {border-radius: 180px;width:120px;height:120px;background-size:120px 120px;}
#business_post_start.ge-form .ge-submit {margin-top: 94px;}
#business_post_online.ge-form .ge-submit {margin-top: 139px;}
#business_post_location.ge-form .ge-submit {}
#business_post_preview.ge-form .ge-submit {}
/* form */
.ge-form .ge-submit {margin-top: 42px;}
.ge-business-post-step1 .ge-form-check-location {margin-top: 52px;} 
.ge-multiple-location {height:160px;overflow-y: scroll;}
.ge-business-post-online .ge-form-submit {margin-top: 129px;}
.ge-business .ge-headline {text-align: center;margin-bottom: 30px;}
.ge-business .ge-headline h4 {text-transform:uppercase;color: #333333;margin-bottom:0px;}
.ge-business-form-register .ge-headline p {font-weight: 200;}
/* post */
.ge-post .ge-well .ge-terms textarea {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/* MESSAGING */
.ge-comments .ge-well, .ge-messages .ge-well {padding: 19px 0 0 0;}
.ge-comments .ge-expand, .ge-messages .ge-expand {height:28px;background:url('temp-sample/geBoxExpand.png') no-repeat center #fff;}

.ge-input {padding: 9px;}
.ge-input .ge-user-image {width:50px;}
.ge-input .ge-user-image img {width:50px;width:50px;background-size:50px 50px;}
.ge-messagelist {max-height:300px !important;overflow: scroll;border-top: 3px double #e4e4e4;}
.ge-message {padding: 9px;background-color: #fafafa;border-bottom: 1px solid #e4e4e4;}
.ge-message:after {clear: both;}
.ge-message .ge-user-image {float:left;margin-right: 9px;width:50px;}
.ge-message .ge-user-image img {width:50px;width:50px;background-size:50px 50px;}
.ge-message .ge-text {display:table;font-size: 100%;}
.ge-message .ge-text .ge-name {color:#00bebe;} 
.ge-message .ge-text .ge-date {padding-left:9px;color: #999;}
.ge-message .ge-text .ge-block {display: block;margin-top:3px;}
.ge-name {font-weight:800;color:#000;}


/* USER PROFILE */
.ge-profile .well {padding:0px !important ;}
.ge-profile .ge-user {padding: 19px;}
.ge-profile .ge-user .ge-user-image {width:100px;height:100px;background-size:100px 100px;}
.ge-profile .ge-user .ge-name {font-size: 180%;font-weight:400;color:#6f6f6f;}
.ge-profile .ge-user .ge-age {font-size: 100%;font-weight:400;color:#aaaaaa;}
.ge-profile .ge-user .ge-location {font-size: 100%;font-weight:400;text-align:left;}
.ge-profile .ge-user .ge-points {font-size: 136%;font-weight:400;padding-top:6px;}
.ge-profile .iconbar-ge {background-color: #fafafa;margin:0px !important;width: 100%;border-top-left-radius: 0px;border-top-right-radius: 0px;}
.ge-profile .iconbar-ge ul {float: right;}

.ge-user:before, .ge-user:after {display: table;line-height: 0;content: "";}
.ge-user:after {clear: both;}
.ge-user .ge-user-image {float: left;margin-right: 19px;}
.ge-user-image {-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}

.ge-name {font-weight:800;color:#000;}
.ge-age {font-size:80%;}
.ge-location {font-size:80%;font-weight:100;text-decoration:none;color:#00bebe;}
.ge-location li {list-style-image:url('temp-sample/icon_location.png');}
.ge-points {color:#aaaaaa;}

/* ITEM */
.ge-item {}
.ge-item:before, .ge-item:after {display: table;line-height: 0;content: "";}
.ge-item:after {clear: both;}

.ge-item-location {font-size:80%;font-weight:100;text-decoration:none;color:#00bebe;}
.ge-item-location li {list-style-image:url('temp-sample/icon_location.png');}
.ge-item-image {}

.ge-tile {width: 100%;height:100%;text-align: center;color:#aaaaaa;background:#fafafa;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.ge-tile p {margin: 0px;}

.ge-subtitle{color:#6f6f6f;}
.ge-subtitle em {margin: 0 6px 0 12px;}
.ge-terms, .ge-description, .ge-details {font-size:100%;line-height:120%;}
.ge-terms em, .ge-description em {color:#6f6f6f;margin-right: 9px;}
