
.hidden {
  display: none;
  visibility: hidden;
}

.icon-green {
    background-image: url("img/glyphicons-halflings-white.png") !important;
}
.file {
    display: none;
    cursor: pointer;
}
.link {
    cursor: pointer;
}

.ge-datepicker {
    width: 223px;
}

.leaflet-control-attribution {
    display: none !important;
}

#map {
    height: 254px;
}

/**
.user-giving {
    padding-top: 120px !important;
}
.ge-browse {
    padding-top: 120px !important;
}
/**/

#email_change_notification {
    display: none;
}
#password_change_notification {
    display: none;
}

.ge-item {
    margin-left: 12px !important;
}

form {
    margin: 0px !important;
}
