<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>
				Status
			</th>
			<th>
				Title
			</th>
			<th>
				View Gift
			</th>
			<th>
				End Date
			</th>
			<th>
				Redemption Ends
			</th>
			<th>
				Available
			</th>
			<th>
				Requested
			</th>
			<th>
				Redeemed
			</th>
			<th>
				END
			</th>
			<th>
				DELETE
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="ad in ads">
			<td ng-bind="ad.status"></td>
			<td ng-bind="ad.title"></td>
			<td><a ng-click="viewGift(ad.id)" target="_blank" class="btn btn-sm btn-ge-default">VIEW GIFT</a></td>
			<td ng-bind="ad.expiresAt | date:'mediumDate'"></td>
			<td ng-bind="ad.availableAt | date:'mediumDate'"></td>
			<td ng-bind="ad.quantity"></td>
			<td ng-bind="ad.statistics.numRequests"></td>
			<td ng-bind="ad.statistics.numReceivedRequests"></td>
			<td></td>
			<td><a href class="btn btn-danger btn-sm">DELETE</a></td>
		</tr>
	</tbody>
</table>
