Hi There! 

We're excited to have you onboard! Use invitation code 
 ${invitationCode}
to get a sneak peek to the beta version where you can already give and request “gifts” for free. Here’s a bit of information to get you started:
1. Go to www.gifteng.com and use your invitation code
2. Request your first gift to see how easy it is 
3. Post a Gift, something that you don’t need anymore
3. Share this invitation code with your friends so they can discover your gifts and other free things around them (only in New York)

Email us if you have any thoughts or suggestions: team@gifteng.com

Happy giving & receiving, 
The Gifteng Team
