
.file {
    display: none;
    cursor: pointer;
}
.link {
    cursor: pointer;
}

.ge-datepicker {
    width: 223px;
}

.leaflet-control-attribution {
    display: none !important;
}

.map {
    height: 254px;
}
.ge-detail-view .ge-item .ge-map img {min-height: 0 !important;}
.ge-detail-view .ge-item .ge-map .img {min-height: 195px !important;}

/**
.ge-item {
    margin-left: 12px !important;
}
/**/

.active .navbar-new {
    background-color: #E74C3C !important;
    display: inline !important;
}