<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-body">
			<div class="row">
                <div class="col-xs-9">
                    <textarea id="comment_text" class="form-control" maxlength="255" placeholder="Your comment ..."></textarea>
                </div>
                <div class="col-xs-3">
                    <button type="button" ng-click="add()" class="btn btn-default btn-block">Add</button>
                </div>
            </div>
		</div>
	</div>
</div>