<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()">
				×
			</button>
			<div class="modal-header-content">
				<h3>Let's edit your profile</h3>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-6">
					<div class="control-group">
						<label class="control-label" for="firstName">Name</label>
						<div class="controls">
							<input id="firstName" name="firstName" type="text" value="Krasi" placeholder="First Name" class="input-block-level" required="">
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="control-group">
						<label class="control-label" for="lastName">&nbsp;</label>
						<div class="controls">
							<input id="lastName" name="lastName" type="text" value="K" placeholder="Last Name" class="input-block-level" required="">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="control-group">
						<label class="control-label" for="about">About me</label>
						<div class="controls">
							<textarea id="about" name="about" rows="2" maxlength="220" placeholder="..."></textarea>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-8">
					<div class="control-group">
						<label class="control-label" for="zipCode">My Zip Code</label>
						<div class="controls">
							<input id="zipCode" name="zipCode" type="text" value="" maxlength="5" placeholder="10001" class="input-block-level" required="">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="control-group">
						<label class="control-label" for="email">My Email <span id="email_change_notification" class="text-danger" style="display: none;">- confirm your change by checking your (old) email address.</span></label>
						<div class="controls">
							<input id="email" name="email" type="text" value="krasi@gifteng.com" placeholder="Email" class="input-block-level" required="" readonly="readonly">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4">
					<div class="control-group">
						<label class="control-label" for="password">Old Password</label>
						<div class="controls">
							<input id="password" name="password" type="password" placeholder="Current Password" class="input-block-level">
						</div>
					</div>
				</div>
				<div class="col-xs-8">
					<div class="control-group">
						<label class="control-label" for="new_password">New Password <span id="password_change_notification" class="text-danger" style="display: none;">- please confirm by email.</span></label>
						<div class="row">
							<div class="col-xs-6">
								<div class="controls">
									<input id="new_password" name="new_password_1" type="password" placeholder="Password" class="input-block-level">
								</div>
							</div>
							<div class="col-xs-6">
								<div class="controls">
									<input name="new_password_2" type="password" placeholder="Confirm New Password" class="input-block-level">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-6 col-md-3">
					<button type="button" ng-click="close()" class="btn btn-block btn-primary">
						Cancel
					</button>
				</div>
				<div class="col-xs-6 col-md-9">
					<button type="button" ng-click="submit()"  class="btn btn-block btn-default">
						Save Profile
					</button>
				</div>
			</div><!--./submit-->
		</div>
	</div>
</div>