<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()">
				×
			</button>
			<div class="modal-header-content">
				<h3>Type your message below</h3>
			</div>
		</div>
		<div class="modal-body">
			<textarea name="requestText" id="request_message" class="form-control" placeholder="Your message ...">I would love to have your gift! Please accept my request!</textarea>
		</div>

		<div class="modal-footer">
            <div class="row">
                <div class="col-xs-4">
                    <button type="button" class="btn btn-block btn-default" ng-click="close()">Cancel</button>
                </div>
                <div class="col-xs-8">
                    <button type="button" ng-click="submit()" class="btn btn-block btn-primary">Send Request</button>
				</div>
            </div>
        </div>
		
	</div>
</div>