<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()">
				×
			</button>
			<div class="modal-header-content">
                    <h3>If you received the gift, click on CONFIRM.</h3>
			</div>
		</div>

		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-6">
					<button type="button" ng-click="close()" class="btn btn-block btn-default">
						CANCEL
					</button>
				</div>
				<div class="col-xs-6">
					<button type="button" ng-click="submit()" class="btn btn-block btn-primary">
						CONFIRM
					</button>
				</div>
			</div><!--./submit-->
		</div>
	</div>
</div>