<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="close()">
				×
			</button>
			<div class="modal-header-content">
				<h3>Unfortunately your gift can’t be posted because...</h3>
			</div>
		</div>
		<div class="modal-body">
			<p>
				{{ad.approval.text}}
			</p>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-6">
				</div>
				<div class="col-xs-6">
					<button type="button" ng-click="close()" class="btn btn-large btn-default">
						OK <em class="ge-icon-cross"></em>
					</button>
					<a href="#/view/gift/{{ad.id}}" ng-click="close()"  class="btn btn-large btn-primary">
						VIEW GIFT
					</a>
				</div>
			</div><!--./submit-->
		</div>
	</div>
</div>