Hi ${user.userData.getFirstName()},

To find out who is your new follower access the following address:
${baseUrl}profile?follower

Happy gifting!

To change your general email notifications click here:
${baseUrl}profile?notification
