Congratulations, you are now a Giftenger!

You can share this code with your friends so they can also
sign up within 48 hours before the invite expires.


Your Invitation Code: ${invitationCode}


Access the link below, to log in to your account:
${baseUrl}invitation/verify


Hurry, gifts are waiting for you!
Welcome to Gifteng!
