<div class="row">
	<div class="col-xs-12">
		<div class="text-center">
			New Gifts are available daily at 12pm ET. Make someone happy tomorrow with yours!
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="row">
			<div class="col-sm-4">
				<input type="text" ng-model="adsearch" value="" placeholder="Find Friends & Search Gifts" class="form-control" />
			</div>
			<div class="col-sm-4">
				<select class="form-control" ng-model="adsrcat">
					<option value="">All Categories</option>
					<option value="11">Accessories &amp; Bags</option>
					<option value="12">Art &amp; Photography</option>
					<option value="13">Books</option>
					<option value="10">Collectibles &amp; Craft</option>
					<option value="14">Electronics</option>
					<option value="15">Food</option>
					<option value="20">Health &amp; Beauty</option>
					<option value="21">Home</option>
					<option value="9">Jewelry &amp; Watches</option>
					<option value="16">Kids</option>
					<option value="17">Men's Clothing</option>
					<option value="22">Movie, Music, Games</option>
					<option value="18">Pets</option>
					<option value="24">Tickets &amp; Gift Cards</option>
					<option value="19">Women's Clothing</option>
					<option value="8">Women's Shoes</option>
				</select>
			</div>
			<div class="col-sm-4">
				<select class="form-control">
					<option value="newest">Newest</option>
					<option value="oldest">Oldest</option>
				</select>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-4">
		<div ng-repeat="ad in col1 | ads:{keywords:adsearch,category:adsrcat}">
			<ad
			img="https://s3.amazonaws.com/ge-dev/ad/{{ad.image.id}}_320"
			id="{{ad.id}}"
			num-shares="{{ad.statistics.numShares}}"
			num-comments="{{ad.statistics.numComments}}"
			num-bookmarks="{{ad.statistics.numBookmarks}}"
			comments="{{ad.comments}}"
			title="{{ad.title}}"
			creator-name="{{creators[ad.creator].firstName}} {{creators[ad.creator].lastName}}"
			creator-since="{{creators[ad.creator].joinedAt | date:'MMMM yyyy'}}"
			creator-following="creators[ad.creator].inFollowings"
			creator-city="{{creators[ad.creator].address.city}} {{creators[ad.creator].address.state}}"
			creator-avatar="{{creators[ad.creator].avatar.id}}"
			creator-points="{{creators[ad.creator].score | number:0}}/{{creators[ad.creator].pendingScore | number:0}}"
			creator-id="{{creators[ad.creator].id}}"
			status="{{ad.status}}"
			can-request="{{ad.canRequest}}"
			in-bookmarks="{{ad.inBookmarks}}"
			callback="loadAds()"
			self="ad.self"
			></ad>
		</div>
	</div>
	<div class="col-sm-4">
		<div ng-repeat="ad in col2 | ads:{keywords:adsearch,category:adsrcat}">
			<ad
			img="https://s3.amazonaws.com/ge-dev/ad/{{ad.image.id}}_320"
			id="{{ad.id}}"
			num-shares="{{ad.statistics.numShares}}"
			num-comments="{{ad.statistics.numComments}}"
			num-bookmarks="{{ad.statistics.numBookmarks}}"
			comments="{{ad.comments}}"
			title="{{ad.title}}"
			creator-name="{{creators[ad.creator].firstName}} {{creators[ad.creator].lastName}}"
			creator-since="{{creators[ad.creator].joinedAt | date:'MMMM yyyy'}}"
			creator-following="creators[ad.creator].inFollowings"
			creator-city="{{creators[ad.creator].address.city}} {{creators[ad.creator].address.state}}"
			creator-avatar="{{creators[ad.creator].avatar.id}}"
			creator-points="{{creators[ad.creator].score | number:0}}/{{creators[ad.creator].pendingScore | number:0}}"
			creator-id="{{creators[ad.creator].id}}"
			status="{{ad.status}}"
			can-request="{{ad.canRequest}}"
			in-bookmarks="{{ad.inBookmarks}}"
			callback="loadAds()"
			self="ad.self"
			></ad>
		</div>
	</div>
	<div class="col-sm-4">
		<div ng-repeat="ad in col3 | ads:{keywords:adsearch,category:adsrcat}">
			<ad
			img="https://s3.amazonaws.com/ge-dev/ad/{{ad.image.id}}_320"
			id="{{ad.id}}"
			num-shares="{{ad.statistics.numShares}}"
			num-comments="{{ad.statistics.numComments}}"
			num-bookmarks="{{ad.statistics.numBookmarks}}"
			comments="{{ad.comments}}"
			title="{{ad.title}}"
			creator-name="{{creators[ad.creator].firstName}} {{creators[ad.creator].lastName}}"
			creator-since="{{creators[ad.creator].joinedAt | date:'MMMM yyyy'}}"
			creator-following="creators[ad.creator].inFollowings"
			creator-city="{{creators[ad.creator].address.city}} {{creators[ad.creator].address.state}}"
			creator-avatar="{{creators[ad.creator].avatar.id}}"
			creator-points="{{creators[ad.creator].score | number:0}}/{{creators[ad.creator].pendingScore | number:0}}"
			creator-id="{{creators[ad.creator].id}}"
			status="{{ad.status}}"
			can-request="{{ad.canRequest}}"
			in-bookmarks="{{ad.inBookmarks}}"
			callback="loadAds()"
			self="ad.self"
			></ad>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<a ng-click="loadMore()" class="btn btn-block btn-primary">VIEW MORE</a>
	</div>
</div>
