<div class="row">
	<div class="col-xs-12">
		<div class="well">
			<div class="well-main">
				<div class="row">
					<div class="col-xs-6 text-right">
						<label>Select from the list or search by name</label>
					</div>
					<div class="col-xs-4">
						<input type="text" class="form-control" ng-model="searchInvites" placeholder="Search friends">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 col-sm-4" ng-repeat="friend in friends | filter: searchInvites">
		<div class="well invite">
			<div class="well-main">
				<div class="row">
					<div class="col-xs-4">
						<img ng-src="https://graph.facebook.com/{{friend.id}}/picture" class="up-avatar img-rounded img-responsive">
					</div>
					<div class="col-xs-8">
						<div>
							<span class="inv-name">{{friend.name}}</span>
						</div>
						<div>
							<a class="btn btn-primary btn-sm">INVITE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
