<nav class="navbar navbar-default navbar-fixed-top snap-slide" role="navigation">
	<div class="container">
		<div class="col-12-lg col-12-md">
			<div class="navbar-header">
				<a id="open-left" class="navbar-brand" href="" ng-show="user.logged">
					<span class="ge-icon-list"></span>
				</a>
				<a class="navbar-brand" href="#">
					<span class="ge-icon-gifteng"></span>
				</a>
			</div>
			<div class="collapse navbar-collapse navbar-ex5-collapse">
				<ul class="nav navbar-nav nav-buttons pull-right">
					<li>
						<a href="#/login" ng-hide="user.logged">
							Log In
						</a>
					</li>
					<li>
						<a href="">
							<span class="ge-icon-question"></span>
						</a>
					</li>
					<li>
						<a href="#/post" ng-show="user.logged">
							<span class="ge-icon-giftbox"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<span ng-switch on="user.logged">
   <div ng-switch-when="true" ng-include="'app/partials/sidebar.html'"></div>
</span>