<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="well">
		<h2>Giving makes you live longer. Seriously, google it. :)</h2>
		<p>
			<a href="" class="btn btn-block btn-default btn-lg">Upload a great photo</a>
		</p>
		<p>
			<img src="http://placehold.it/800x400/FF9999/FFF" alt="" class="img-responsive" />
		</p>
		<div class="well-footer">
			<div class="row">
				<div class="col-xs-3">
					<a href="#" class="btn btn-lg btn-block btn-default">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
				</div>
				<div class="col-xs-9">
					<a href="#/post-2" class="btn btn-lg btn-block btn-primary">
						NEXT
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>