<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="well">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<div class="ge-logo text-center">
					<i class="ge-icon-gifteng ge-icon-gifteng-large"></i>
					<p>Gifteng is a social community where you can give and receive thing you love for free</p>
                </div>
				<form role="form">
					<div class="form-group">
						<input type="email" class="form-control input-lg" placeholder="Email address">
					</div>
		  			<button type="submit" class="btn btn-primary btn-lg btn-block">Request an invitation</button>
		  			<p class="text-center">
		  				<a href="#/login">Already a member? Sign in here »</a>
		  			</p>
				</form>
			</div>
		</div>
		<div class="well-footer">
			<div class="row">
				<div class="col-xs-6 text-centera">
					<a href="#/verify">I have an invitation</a>
				</div>
				<div class="col-xs-6 text-center">
					<a href="#/">Tell me more</a>
				</div>
			</div>
		</div>
	</div>
</div>