<div class="row">
	<div class="col-sm-4">
		<user-profile 
			name="Krasimir Stavrev" 
			location="Sofia, Bulgaria" 
			img="http://placehold.it/200x200/FF9999/FFF" 
			points="100" 
			since="August 2013">
		</user-profile>
	</div>
	<div class="col-sm-4">
		<user-profile 
			name="Krasimir Stavrev" 
			location="Sofia, Bulgaria" 
			img="http://placehold.it/200x200/FF9999/FFF" 
			points="100" 
			since="August 2013">
		</user-profile>
	</div>
	<div class="col-sm-4">
		<user-profile 
			name="Krasimir Stavrev" 
			location="Sofia, Bulgaria" 
			img="http://placehold.it/200x200/FF9999/FFF" 
			points="100" 
			since="August 2013">
		</user-profile>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<user-profile 
			name="Krasimir Stavrev" 
			location="Sofia, Bulgaria" 
			img="http://placehold.it/200x200/FF9999/FFF" 
			points="100" 
			since="August 2013">
		</user-profile>
	</div>
	<div class="col-sm-4">
		<user-profile 
			name="Krasimir Stavrev" 
			location="Sofia, Bulgaria" 
			img="http://placehold.it/200x200/FF9999/FFF" 
			points="100" 
			since="August 2013">
		</user-profile>
	</div>
	<div class="col-sm-4">
		<user-profile 
			name="Krasimir Stavrev" 
			location="Sofia, Bulgaria" 
			img="http://placehold.it/200x200/FF9999/FFF" 
			points="100" 
			since="August 2013">
		</user-profile>
	</div>
</div>
