<div class="row">
	<div class="col-sm-4" ng-repeat="user in users">
		<user-profile 
			name="{{user.firstName}} {{user.lastName}}" 
			location="{{user.address.city}}, {{user.address.state}}" 
			img="https://s3.amazonaws.com/ge-dev/user/{{user.avatar.id}}_112"
			avatar="{{user.avatar.id}}" 
			points="{{user.score | number:0}}/{{user.pendingScore | number:0}}" 
			since="{{user.joinedAt | date:'MMMM yyyy'}}"
			following="user.inFollowings"
			id="{{user.id}}"
		>
		</user-profile>
	</div>
</div>
