Hi ${ad.creator.userData.getFirstName()},

We just want to let you know that your gift is approved and it will be available tomorrow at 12:00pm ET on Gifteng.com.
Please visit us then to share it with your friends and most importantly to request new Gifts posted by other members!

Happy giving (and receiving), 
The Gifteng Team
