<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Congrats! Your Gift was approved.</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<style>
html, body {font-family: 'Lato', sans-serif;text-align: center;text-shadow: 0 1px 0 #fff;background:url('http://gifteng.com/assets/4/temp-sample/ge-background.png') #eeedea;}
h1{font-size: 136%;}
.btn, .btn-ge {border: none;background: #00bebe;color: #ffffff;padding: 9px 12px 10px;line-height: 22px;font-size: 14.994px;font-weight: 500;text-decoration: none;text-shadow: none;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;-webkit-transition: 0.25s;-moz-transition: 0.25s;-o-transition: 0.25s;transition: 0.25s;-webkit-backface-visibility: hidden;}
.btn:hover, .btn:focus {background-color: #cacfd2;color: #ffffff;outline: none;-webkit-transition: 0.25s;-moz-transition: 0.25s;-o-transition: 0.25s;transition: 0.25s;-webkit-backface-visibility: hidden;}
hr.splendid {border: 0;height: 1px;margin-top:36px;
      background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0)); 
      background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0)); 
      background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0)); 
      background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(203,200,195,0.75), rgba(0,0,0,0)); }
hr.splendid:after {color: #bab8b6;text-shadow: 0 1px 2px #fff;display: inline-block;position: relative;top: -0.9em;font-size: 0.9em;padding: 0 0.25em;background: #eeedea;}
hr.splendid2:after {content: "Give. Receive. Inspire.";}
hr.splendid1:after {content: "·";font-size: 1.2em;top: -0.7em;}
.img-social-rounded {margin: 3px;width: 24px;height: 24px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; background: center center no-repeat;}
.ge-facebook {background: url("http://veneficalabs.com/dev/sample-flat/images/ge-facebook2.png");background-size:24px 24px;}
.ge-twitter {background: url("http://veneficalabs.com/dev/sample-flat/images/ge-twitter2.png");background-size:24px 24px;}
.ge-pinterest {background: url("http://veneficalabs.com/dev/sample-flat/images/ge-pinterest2.png");background-size:24px 24px;}
.ge-facebook:hover {background: url("http://veneficalabs.com/dev/sample-flat/images/ge-facebook.png");background-size:24px 24px;}
.ge-twitter:hover {background: url("http://veneficalabs.com/dev/sample-flat/images/ge-twitter.png");background-size:24px 24px;}
.ge-pinterest:hover {background: url("http://veneficalabs.com/dev/sample-flat/images/ge-pinterest.png");background-size:24px 24px;}
.message-header, .message-footer, .message-note {padding:36px 0;}
</style>
  </head>
  
  <body>
  	<div class="message-header">
		<img src="http://veneficalabs.com/dev/sample-flat/temp-sample/gifteng.png">
		<hr class="splendid splendid1">
	</div>
	<!-- message-content -->
	<div class="message-content">
		<h1>Hi ${ad.creator.userData.getFirstName()},</h1>
		<p>
		We just want to let you know that your gift was approved and it will be available tomorrow at 12:00pm ET on Gifteng.com.<br />
		Please visit us then to share it with your friends and most importantly to request new Gifts posted by other members!
		</p>
		<p>
			<a href="${baseUrl}request/${request.id}" class="btn btn-ge">Click here to arrange an exchange.</a> 
		</p>
		<p>
		Happy giving (and receiving),<br />
		The Gifteng Team
		</p>
	</div>
	<!-- message-note -->
	<div class="message-note">
		<p style="color: #333333;font-size: 11px;">
			To change your general email notifications click here:
			${baseUrl}profile?notification
		</p>	
	</div>
	<!-- ./message-note -->
	<!-- ./message-content -->	
	<div class="message-footer">
		<hr class="splendid splendid2" style="font-size: 160%;font-weight: 300;">
		<p style="color: #aaaaaa;font-size: 11px;">
			&copy;2013 Gifteng | All Rights Reserved
		</p>
		<p>
			<div style="width: 120px;margin: auto;">
				<a title="Gifteng on Facebook" href="http://facebook.com/gifteng"><div class="img-social-rounded ge-facebook" style="display: inline-block;"></div></a>
				<a title="Follow us on Twitter" href="http://twitter.com/gifteng"><div class="img-social-rounded ge-twitter" style="display: inline-block;"></div></a>
				<a title="Find us on Pinterest" href="http://pinterest.com/gifteng"><div class="img-social-rounded ge-pinterest" style="display: inline-block;"></div></a>
			</div>
		</p>
	</div>
  </body>
</html>