#set($title = "A request was canceled")
#parse("../header.html.vm")

<div id="mail-body" style="margin:15px;padding:20px;border-radius:4px;background-color:#fff;">
	<h1 style="font-size:130%;">Hi $!{user.userData.getFirstName()},</h1>
	<p>
	    We just want to let you know that the request you received was canceled. Share your gift to receive other requests.<br /><br />
	</p>
	<p>
    	Happy giving & receiving,<br />
        The Gifteng Team
	</p>
	<p style="color: #37495d;font-size:0.9em;">
		To change your general email notifications click here:
		${baseUrl}/#/profile/account/notifications
	</p>
</div>

#parse("../footer.html.vm")
