Hi $!{user.userData.getFirstName()},
 
Congrats! Your request was accepted for the '${ad.adData.title}' on Gifteng. 
 
All you have to do now is click the "Payment link" below to pay for shipping. Then we’ll send a label to $!{creator.userData.getFirstName()}, and your gift will be on its way to you shortly!  

Happy receiving!
The Gifteng Team
 
p.s. Once you receive the gift, don’t forget to confirm it under your Receiving menu on Gifteng!


Gift link: ${baseUrl}/#/view/gift/${ad.id}
Payment link: ${shippingBox.paypalUrl}
