<div class="container ge-container">
	<h1>Press Inquiries</h1>
	<h2>Overview</h2>
	<p>People want things they can’t afford, and others want to get rid of things easily and quickly. Gifteng solves these two problems while allowing users to build a new kind of social status based on a very unselfish thing: giving. The name combines “gift” and “engagement”. Gifteng users connect with one another through the act of giving. We endorse swapping instead of shopping.</p>
	 
	<p>The more a user gives, the more they can receive. And the larger the site’s user base grows, the better the experience will become.</p>	
	
	<h2>How does it work?</h2>
	<ol>
		<li>For each gift you post, you earn four requests.</li>
		<li>Posting takes less than a minute. All you need is a picture, a brief description and zip code.</li>
		<li>The gift becomes available for request at noon EST. Once it’s up, you’ll be able to share it with your friends via Facebook, Twitter and Pinterest.</li>
		<li>Up to three members in the Gifteng community can send requests for the gift. You select who will receive it.</li>
		<li>Use the private messaging tool to arrange pickup or mail the gift using a pre-paid shipping label paid for by the receiver.</li>
	</ol>
	
	<h2>Images</h2>
	
	<div class="row">
		<div class="col-sm-4">
			<img src="assets/press/gifteng.png" class="img-responsive img-thumbnail" alt="Gifteng Logo" title="Gifteng Logo">
		</div>
		<div class="col-sm-4">
			<img src="assets/press/give-receive-inspire_1.png" class="img-responsive img-thumbnail" alt="Give. Receive. Inspire. (Gifteng Motto)" title="Give. Receive. Inspire. (Gifteng Motto)">
		</div>
		<div class="col-sm-4">
			<img src="assets/press/give-receive-inspire_2.png" class="img-responsive img-thumbnail" alt="Give. Receive. Inspire. (Gifteng Motto)" title="Give. Receive. Inspire. (Gifteng Motto)">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<img src="assets/press/gifteng_ad1.jpg" class="img-responsive img-thumbnail" alt="Gifteng Ad" title="Gifteng Ad">
		</div>
		<div class="col-sm-6">
			<img src="assets/press/gifteng_ad2.jpg" class="img-responsive img-thumbnail" alt="Gifteng Ad" title="Gifteng Ad">
		</div>
	</div>
	<h4 class="pull-right">
		<a href="assets/press/Gifteng-pressKit2013.zip" title="Download the press pack" target="_blank"><i class="glyphicon glyphicon-ge-cloud-download"></i>  Download the press pack</a>
	</h4>
	
	<h2>Digital Media</h2>
	<p>
		View our introduction video on YouTube or embed it:
		<textarea style="width: 90%;"><iframe width="560" height="315" src="//www.youtube.com/embed/SHvFzIzkon8" frameborder="0" allowfullscreen></iframe></textarea>
	</p>
	
	<h2>External Content</h2>
	Find out more about Gifteng from our social pages:
	<ul>
		<li><a href="//facebook.com/gifteng" target="_blank">Gifteng on Facebook</a></li>
		<li><a href="//twitter.com/gifteng" target="_blank">Gifteng on Twitter</a></li>
		<li><a href="//pinterest.com/gifteng" target="_blank">Gifteng on Pinterest</a></li>
		<li><a href="//google.com/+gifteng" target="_blank">Gifteng on Google+</a></li>
	</ul>
	
	<h2>Media Contact</h2>
	<div class="row">
		<div class="col-sm-11">
			We would love to help answer any questions that you might have at press at gifteng.com or <a href="http://gifteng.zendesk.com/anonymous_requests/new?ticket[subject]=Press%20Inquiries%20-%20&ticket[fields][22969576]=press_inquiries" style="color: #00bebe;">by clicking here</a>.
			<p>&nbsp;</p>
		</div>
		<div class="col-sm-1">
		<img src="assets/press/gifteng-icon.png" class="img-responsive" alt="Gifteng Icon" title="Gifteng Icon">
		</div>
	</div>
	
</div>

<div ng-include="'app/partials/footer.html'"></div>