Hi ${user.userData.getFirstName()},

We received a request to reset your password.
If you didn’t make this request, simply ignore this email. 

To reset password click <a href="${baseUrl}authentication/reset/${code}">here</a>.

Please do this within 24 hours, otherwise the link above will expire! 

Happy gifting! 

You can also copy and paste this link into your browser:
${baseUrl}authentication/reset/${code}
